<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>Admin</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="__PUBLIC__/css/style.css" media="all" />
	<!--[if IE]><link rel="stylesheet" href="css/ie.css" media="all" /><![endif]-->
	<!--[if lt IE 9]><link rel="stylesheet" href="css/lt-ie-9.css" media="all" /><![endif]-->
</head>
<body>
<div class="testing">

<section class="user">
	<div class="profile-img">
		<p><img src="__PUBLIC__/images/admin.png" alt="" height="40" width="40" /> 欢迎 XXX 进入后台管理界面</p>
	</div>
	<div class="buttons">
		<button class="ico-font">&#9206;</button>
		<span class="button">返回主页</span>
		<span class="button blue"><a href="index.html">退出</a></span>
	</div>
</section>

</div>
<nav>
	<ul>

		<li class="section"><a href="admin.html"><span class="icon">&#128202;</span> 统计视图</a></li>
		
		<li><a href="user.html"><span class="icon">&#128101;</span> 用户管理<span class="pip">总人数</span></a></li

	</ul>
</nav>

<section class="alert">
	<div class="green">	
		<p>提示：微店用户数据管理员无权更改！</p>
		<span class="close">&#10006;</span>
	</div>
</section>
<section class="content">
	<section class="widget">
		<header>
			<span class="icon">&#128100;</span>
			<hgroup>
				<h1>用户列表</h1>
			</hgroup>
		</header>
		<div class="content">
			<table id="myTable" border="0" width="100">
				<thead>
					<tr>
						<th>店铺名</th>
						<th>姓名</th>
						<th>手机号</th>
						<th>身份证</th>
						<th>所在地</th>
						<th>注册时间</th>
					</tr>
				</thead>
					<tbody>
						<tr>
							<td class="avatar"><img src="/WxShop/Uploads/avatar/uiface1.png" alt="" height="40" width="40" /> 吉大外卖</td>
							<td>张三</td>
							<td>18543125835</td>
							<td>123456621456752321</td>
							<td>吉大南校区宿舍区食堂123窗口</td>
							<td>2014-05-02</td>
						</tr>
												<tr>
							<td class="avatar"><img src="/WxShop/Uploads/avatar/uiface1.png" alt="" height="40" width="40" /> 吉大外卖</td>
							<td>张三</td>
							<td>18543125835</td>
							<td>123456621456752321</td>
							<td>吉大南校区宿舍区食堂123窗口</td>
							<td>2014-05-30</td>
						</tr>
												<tr>
							<td class="avatar"><img src="/WxShop/Uploads/avatar/uiface1.png" alt="" height="40" width="40" /> 吉大外卖</td>
							<td>张三</td>
							<td>18543125835</td>
							<td>123456621456752321</td>
							<td>吉大南校区宿舍区食堂123窗口</td>
							<td>2014-05-13</td>
						</tr>
												<tr>
							<td class="avatar"><img src="/WxShop/Uploads/avatar/uiface1.png" alt="" height="40" width="40" /> 吉大外卖</td>
							<td>张三</td>
							<td>18543125835</td>
							<td>123456621456752321</td>
							<td>吉大南校区宿舍区食堂123窗口</td>
							<td>2014-05-15</td>
						</tr>

						<tr>
							<td class="avatar"><img src="/WxShop/Uploads/avatar/uiface1.png" alt="" height="40" width="40" /> 吉大外卖</td>
							<td>张三</td>
							<td>18543125835</td>
							<td>123456621456752321</td>
							<td>吉大南校区宿舍区食堂123窗口</td>
							<td>2014-05-30</td>
						</tr>
					</tbody>
				</table>
		</div>
	</section>
</section>
<script src="__PUBLIC__/js/jquery-1.6.1.min.js"></script>
<script src="__PUBLIC__/js/jquery.wysiwyg.js"></script>
<script src="__PUBLIC__/js/custom.js"></script>
<script src="__PUBLIC__/js/cycle.js"></script>
<script src="__PUBLIC__/js/jquery.checkbox.min.js"></script>
<script src="__PUBLIC__/js/flot.js"></script>
<script src="__PUBLIC__/js/flot.resize.js"></script>
<script src="__PUBLIC__/js/flot-graphs.js"></script>
<script src="__PUBLIC__/js/flot-time.js"></script>
<script src="__PUBLIC__/js/cycle.js"></script>
<script src="__PUBLIC__/js/jquery.tablesorter.min.js"></script>
</body>
</html>