<html>
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
	<title>无刷新文件上传测试</title>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/ajaxFile.js"></script>
</head>
<body>
	<form id="uploadForm" action="upload.php" method="post" enctype="multipart/form-data">
		<input type="file" name="fileselect">

	</form>
	<div id="imglist">
		<img src="__PUBLIC__/images/renxiang_03.png">
	</div>
	<button id="submit">上传图片</button>
</body>
</html>