<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="__PUBLIC__/css/zy.css" rel="stylesheet" type="text/css" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<script src="__PUBLIC__/js/jquery.js"></script>
<script src="__PUBLIC__/js/tool.js"></script>
<title>微店</title>
</head>
<body>
<div class="box" style="margin-bottom:51px;">
	<div class="top">
    	<a class="tjt" href="javascript:history.go(-1)"><img src="__PUBLIC__/images/tjt_03.png"></a>
        <a class="a1">我的购物车</a>
        <a class="a5" href="#">刷新</a>
    </div>
    <div class="baik">
    	<div class="huijt"><a href="＃"><img src="__PUBLIC__/images/huijt_03.png"></a></div>
        <div class="huitiao"></div>	
        <div class="dian"><img src="__PUBLIC__/images/dian_03.png">微店<span class="dian1">购物车</span></div>
      </div>
      <div class="gw_k">
          <div class="gw_1">
            <p class="gw_p1">已选购的商品</p>
            <div class="gw_gm">
            	<img src="/WxShop/Uploads/goodsImg/{$goods_info.headerImg}">
                <div class="gw_z">
                <p class="gw_gm1">{$goods_info.name}</p>
                <div class="gwc_sl">
                <p class="gw_gm2"><span>{$goods_info.retailPrice}</span>　X</p>
                <form action="" method="get">
                   <input  class="gwc_s" type="text" value="{$count}">
                </form>
                </div>
            </div>
          </div>
          </div>
          <div class="gw_2">
          		<div class="gw_zh">
                	<p class="zh_p">已登录账号:<span>{$user_info.phone}</span></p>
                </div>
                <div class="gw_jy">此号码可接交易短信，登陆<span>i.vdian.com</span>可管理订单</div>
          </div>
          <div class="gw_rxx">收货人信息</div>
          <div class="gw_3">
            <form action="#" id="data">
                <input type='hidden' name="user_id" value="{$user_info.id}">
                <input type='hidden' name="goods_id" value="{$goods_info.id}">
                <input type='hidden' name="store_id" value="{$goods_info.store_id}">
                <input type='hidden' name="count" value="{$count}">
                <input type='hidden' name='total_price' value='0'>
          		<div class="gw_r">
                <p>收货人</p>
                <input type="text" name='consignee_name' value="{$user_info.name}">
                </div>
                <div class="gw_r">
                <p>手机号码</p>
                <input type="text" name='consignee_phone' value="{$user_info.phone}">
                </div>           
                <div class="gw_r">
                <p>详细地址</p>
                <input type="text" name='consignee_address' value="{$user_info.address}">
                </div>
                <div class="gw_r">
                <p>用户留言</p>
                <input type="text" name='consignee_comment' value="给卖家留言（选填）" onfocus="if(this.value='给卖家留言（选填）') this.value = ''" onblur="if(this.value == '') this.value = '给卖家留言（选填）'"  >
                </div>
            </form>
          </div>
          <div class="gw_4">
          		<p class="gw_hj">合计（不含运费）：<span id="total_price">￥0.00</span></p>
                <a href="#" id="check"><input type="button" value="结算"></a>
          </div>
      </div>
    
</div>
</body>
</html>
<script type="text/javascript">
    $(function(){
        var price = Number('{$goods_info.retailPrice}');
        var count = Number('{$count}');
        var total_price = price * count;
        $('span#total_price').text('￥'+total_price);
        $('input[name="total_price"]').val(total_price);
    });

    $('input.gwc_s').change(function(){
        var price = Number('{$goods_info.retailPrice}');
        var count = Number($(this).val());
        var total_price = price * count;
        $('span#total_price').text('￥'+total_price);
        $('input[name="total_price"]').val(total_price);
    });

    $('a#check').click(function(event){
        event.preventDefault();
        $.post('__URL__/buyNowPro',$('form#data').serialize(),function(data){
            if (data.status) {
                alert('订单处理成功，请下一步付款');
                location.href = '__URL__/confirmOrder';
            }else{
                alert(data.info);
            };
        });
    });
</script>