<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="__PUBLIC__/css/zy.css" rel="stylesheet" type="text/css" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<script src="__PUBLIC__/js/jquery.js"></script>
<script src='__PUBLIC__/js/tool.js'></script>
<style>
    body,html{
        height: 100%;
    }
    .box{
        height: 100%;
    }
</style>
<title>微店</title>
</head>
<body>
<div class="box" style="margin-bottom:51px;">
	<div class="top">
    	<a class="tjt" href="javascript:history.go(-1)"><img src="__PUBLIC__/images/tjt_03.png"></a>
        <a class="a1">我要推广</a>
        <a class="a5" href="#">刷新</a>
    </div>
    <div class="baik">
    	<div class="huijt"><a href="javascript:history.go(-1)"><img src="__PUBLIC__/images/huijt_03.png"></a></div>
        <div class="huitiao"></div>	
        <div class="dian"><img src="__PUBLIC__/images/dian_03.png">微店<span class="dian1">我的地址</span></div>
      </div>
      <div class="wddz_k">
        	<div class="wddz_1">
            <div class="wddz_lx">
            	<p class="wddz_p1">{$user.name} {$user.phone}</p>
                <p class="wddz_p2">{$user.address}</p>
            </div>
            <div class="wddz_x">
            	<div class="wddz_mr"><img src="__PUBLIC__/images/mr_03.png"></div>
                <p class="wddz_p3">默认地址</p>
                <a class="wddz_bi" href="__URL__/addressEditDis"><img src="__PUBLIC__/images/bi_06.png"></a>
            </div>
            </div>
      </div>
    
</div>
</body>
</html>
