<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<title>我的微店</title>
<link href="__PUBLIC__/css/weidian.css" rel="stylesheet" type="text/css" />
<script src='__PUBLIC__/js/jquery.js'></script>
<script src='__PUBLIC__/js/tool.js'></script>
</head>

<body>
<div class="box">
	<div class="top">
    	<div class="top1"><a href="javascript:history.go(-1);"><img src="__PUBLIC__/images/tjt_03.png"></a></div>
        <div class="top2">我的微店</div>
        <div class="top3"><a href="#">刷新</a></div>
    </div>
    <div class="spxq_top">
    	<div class="spxq_top_l"><span></span><img src="__PUBLIC__/images/fxjt.jpg"  /></div>
        <div class="spxq_top_c"> 商品详情</div>     
        <div class="spxq_top_r1"><a href="#" id='logout'><img src="__PUBLIC__/images/tuichu.jpg" /></a></div>
    </div>
    <div class="wdwd">
    	<div class="wdwd_con">
        	<dl style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;">
            	<a href="__URL__/myOrderDis"><dt><img src="__PUBLIC__/images/icon16.jpg" width="106" height="92" /></dt></a>
                <dd>我的订单</dd>
            </dl>
            <dl style="border-bottom:1px solid #ccc;">
            	<dt><img src="__PUBLIC__/images/icon17.jpg" width="106" height="92" /></dt>
                <dd>我的收藏</dd>
            </dl>
            <dl style="border-right:1px solid #ccc;">
            	<a href='__URL__/myAddressDis'><dt><img src="__PUBLIC__/images/icon18.jpg" width="106" height="92" /></dt></a>
                <dd>收货地址</dd>
                
            </dl>
            <dl>
            	<dt><img src="__PUBLIC__/images/icon19.jpg" width="106" height="92" /></dt>
                <dd>我的消息</dd>
            </dl>
        </div>
    </div>
</div>    
</body>
</html>
<script>
    $('#logout').click(function(event){
        event.preventDefault();
        $.post('__URL__/logoutPro',function(data){
            if (data.status) {
                alert(data.info);
                location.href = '__URL__/login';
            }else{
                alert(data.info);
            };
        });
    });
</script>
