<extend name="Public:registBase"/>
<block name="content">
    <div class="box">
    <div class="top">
        <a class="tjt" href="__URL__/regist_1.html"><img src="__PUBLIC__/images/tjt_03.png"></a>
        <a class="a1">请填写验证码</a>
        <a class="a2" href="#">下一步</a>
    </div>
    <div class="zc1_k"> 
        <p class="zc2_p1">我们已发送<span>验证码短信</span>到这个号码</p>
        <p class="zc2_p2">+86 xxxxxxxxxxx</p>
        <form action="" method="get">
            <input class="zc2_yz" type="text" value="验证码"onfocus="if(this.value=' 验证码') this.value = ''" onblur="if(this.value == '') this.value = ' 验证码'"  name='code'/>
        </form>
        <div class="zc2_p3">接收短信大约需要5秒</div>
    </div>
</div>
</block>
<block name="js">
    <script type="text/javascript">
        var r = window.location.search.substr(7);
        $('.zc2_p2').text("+86 "+r);
        $('.a2').click(function(event){
            var code = $('input[name="code"]').val();
            event.preventDefault();
            $.post('__URL__/checkCode',{code:code,phone:r},function(data){
                if (data.status) {
                    location.href = "__URL__/setPassDis";
                }else{
                    alert(data.info);
                    // console.log(data);
                };
            });
        });
    </script>
</block>
