<extend name="Public:registBase"/>
<block name="content">
    <div class="box">
    <div class="top">
        <a class="a1">填写个人资料</a>
        <a class="a2" href="zc5.html">完成</a>
    </div>
    <div class="zc1_k"> 
        <p class="zc4_p1">请填写你的真实的信息，以便审核。</p>
        <form action="" method="get">
        <input class="zc4_xm" type="text" value="请填写你的真实姓名" onfocus="if(this.value=' 请填写你的真实姓名') this.value = ''" onblur="if(this.value == '') this.value = '请填写你的真实姓名'"  name='name'/>
        <input class="zc4_xm" type="text" value="请填写你的收货地址" onfocus="if(this.value=' 请填写你的收货地址') this.value = ''" onblur="if(this.value == '') this.value = '请填写你的收货地址'"  name='address'/>

        </form>
    </div>
</div>
</block>

<block name="js">
    <script type="text/javascript">
        $(".a2").click(function(event){
            event.preventDefault();
            var shoper_name = $('input[name="name"]').val();
            var address = $('input[name="address"]').val();
            if (address == '请填写你的收货地址') {
                alert('请输入正确的你的收货地址');
                return 0;
            };
            
           if (name == '请填写你的真实姓名') {
                alert('请正确填写你的真实姓名'); 
           }else{
                $.post('__URL__/setPersonPro',{name:name,address:address},function(data){
                    if (data.status) {
                        p(data.info);
                        location.href = '__URL__/regist_5';
                    }else{
                        alert(data.info);
                    };
                });
           };
        
        });


    </script>
</block>