<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<title>微店</title>
</head>
<body>
<div class="box">
	<div class="top">
    	<a class="tjt" href="zhce.html"><img src="images/tjt_03.png"></a>
        <a class="a1">登陆</a>
        <a class="a2" href="index1.html">完成</a>
    </div>
    <div class="zc1_k"> 
    	<p class="zc_p1"></p>
        <form action="" method="get">
        <select name="" class="gj">
        <option>中国</option>
        <option>阿尔巴尼亚</option>
        </select>
        </form>
        <div class="zc_phone">
        <p class="zc_p2">+86</p>
        <p class="zc_p3"></p>
        <form action="" method="get">
        	<input class="zc_hm" type="text" value="填写手机号" onfocus="if(this.value=' 请写您的电话号') this.value = ''" onblur="if(this.value == '') this.value = ' 请写您的电话号'"  name='numb'/>
        </form>
        </div> 
        <div class="zc_phone">
        <form action="" method="get">
        	<input class="zc_hm" type="text" value="请输入密码" onfocus="if(this.value=' 请输入密码') this.value = ''" onblur="if(this.value == '') this.value = ' 请输入密码'"  name='numb'/>
        </form>
        </div> 
    </div>
</div>
</body>
</html>
