<extend name="Public:registBase"/>
<block name="content">
    <div class="box">
        <div class="top">
            <a class="tjt" href="__URL__/welcome"><img src="__PUBLIC__/images/tjt_03.png"></a>
            <a class="a1">登陆</a>
            <a class="a2" href="#">完成</a>
        </div>
        <div class="zc1_k"> 
            <p class="zc_p1"></p>
            <div class="zc_phone">
            <p class="zc_p2">+86</p>
            <p class="zc_p3"></p>
            <form action="" method="get">
                <input class="zc_hm" type="text" value="填写手机号" onfocus="if(this.value=' 请写您的电话号') this.value = ''" onblur="if(this.value == '') this.value = ' 请写您的电话号'"  name='shoper_phone'/>
            </form>
            </div> 
            <div class="zc_phone">
            <form action="" method="get">
                <input class="zc_hm" type="text" value="请输入密码" name="hidepassword" />
                <input class="zc_hm" type="password" style="display:none" name='password'/>
            </form>
            </div> 
        </div>
    </div>
</block>
<block name="js">
    <script type="text/javascript">
        $('.a2').click(function(event){
            var shoper_phone = $('input[name="shoper_phone"]').val();
            var password = $('input[name="password"]').val();
            event.preventDefault();
            $.post('__URL__/loginPro',{shoper_phone:shoper_phone,password:password},function(data){
                if (data.status) {
                    location.href = "{:U('Home/Store/dashboardDis')}";
                }else{
                    alert(data.info);
                };
            });
        });

        $('.zc_hm[name="hidepassword"]').focus(function(){
            $(this).hide();
            $('.zc_hm[name="password"]').show().focus();
        });
        
    </script>
</block>