<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<title>微店</title>
</head>
<body>
<div class="zc6_box">
	<div class="top">
    	<a class="tjt" href="index-2.html"><img src="images/tjt_03.png"></a>
        <a class="a1">我的微店</a>
        <a class="a5" href="tjsp2.html">添加</a>
    </div>
    <div class="zc7_1"><img src="images/cjt_09.png"></div>
    <div class="zc7_2">
    <p>1.点击“添加”即可创建<br>第一个商品</p>
    <p>2.若没有货源可以到<br>“卖家市场”中寻找货源</p>
    <p>3.若是淘宝商家<br>可以使用首页设置中的<br>“淘宝搬家助手”</p>
    </div>
</div>
</body>
</html>
