<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />

<title>我的微店</title>
<meta name="description" content="">
<meta name="keywords" content="">

<link href="style/weidian.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="box">
	<div class="top">
    	<div class="top1"><a href="index1.html"><img src="images/tjt_03.png"></a></div>
        <div class="top2">我的微店</div>
        <div class="top3"><a  href="tjsp.html">添加</a></div>
    </div>
	<div class="sousuo">
    	<form action="" method="get">
        	<input name="" type="text" value="搜索" class="sousuo1">
        </form>
    </div>
    <div class="con">
    	<div class="con_tb"><a href="yldp1.html"><img src="images/dian.jpg"></a></div>
        <div class="con_wz">
       	  <h1>我的微店<br>http://www.baidu.com</h1>
          
        </div>
    </div>
    <div class="con1">
    	<div class="con1_nav"><span>|</span><a href="#">上架时间</a></div>
        <div class="con1_nav"><span>|</span><a href="#">销量</a></div>
        <div class="con1_nav"><span>|</span><a href="#">库存</a></div>
        <div class="con1_nav"><a href="#">已售完</a></div>
    </div>
    <div class="con2">
    	<div class="con2_nr">
        	<div class="con2_nr_tb"><a href="spxq.html"><img src="images/tb_sp.jpg"></a></div>
            <div class="con2_nr_wz">
           	  <p>测试标题<br><b>￥55.00</b></p>
            </div>
            <div class="con2_nr_jt"><a href="spxq.html"><img src="images/xhj_03.png" ></a></div>
            <div class="con2_nr_tj">
            	<div class="con2_nr_tj_nav con2_nr_tj_one">销量：10<span>|</span></div>
                <div class="con2_nr_tj_nav con2_nr_tj_two">库存：10<span>|</span></div>
                <div class="con2_nr_tj_nav con2_nr_tj_three">时间： 09-09</div>
            </div>
        </div>

        <div class="con2_nr">
            <div class="con2_nr_tb"><a href="spxq.html"><img src="images/tb_sp.jpg"></a></div>
            <div class="con2_nr_wz">
              <p>测试标题<br><b>￥55.00</b></p>
            </div>
            <div class="con2_nr_jt"><a href="spxq.html"><img src="images/xhj_03.png" ></a></div>
            <div class="con2_nr_tj">
                <div class="con2_nr_tj_nav con2_nr_tj_one">销量：10<span>|</span></div>
                <div class="con2_nr_tj_nav con2_nr_tj_two">库存：10<span>|</span></div>
                <div class="con2_nr_tj_nav con2_nr_tj_three">时间： 09-09</div>
            </div>
        </div>
       
    </div>
    
    
    
</div>
</body>
</html>
