<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>微店</title>
<link href="__PUBLIC__/css/zy.css" rel="stylesheet" type="text/css" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
</head>
<body>
<div class="zhuce">
	<div class="zc_tu1">
      <img src="__PUBLIC__/images/zc1_03.png">
     </div>
     <div class="zc_tu2">
      <img src="__PUBLIC__/images/zc2_07.png">
     </div>
     <div class="zc_di">
     	<form action="" method="get">
        <a href="__URL__/regist_1"><input class="zc" type="button" value="注册"></a>
        <a href="__URL__/login"><input class="dl" type="button" value="登录"></a>
        </form>
     </div>
    
</div>
</body>
</html>
