@charset "utf-8";
html,body,div,ul,ol,li,dl,dd,dt,p,table{ list-style-type:none; padding:0px; margin:0px;  font-family:"方正正粗黑简体";}
a,a:hover{ text-decoration:none;}
h1,h2,h3,h4,h5,h6{ font-style:normal; }
img{ border:0px;}
.wrapper{ float:left; width:100%; height:auto;}
