<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<title>微店</title>
<link href="__PUBLIC__/css/main.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    body,html{
        height: 100%;
    }
</style>
</head>
<body>
<div class="wrap">
	<div class="weidian">微店</div>
    <div class="kuai">
    	<div class="kuai1">
        	<div class="kuai1-lf">
            	 <a href="wxsk.html"><img src="__PUBLIC__/images/wx_10.png"></a>
            	<a href="wxsk.html"><p>微信收款</p></a>
            </div>
            <div class="kuai1-ri">
            	<a href="__URL__/shopDis"><img src="__PUBLIC__/images/wd_15.png"></a>
                <a href="__URL__/shopDis"><p>我的微店</p></a>
            </div>
        </div>
        <div class="kuai2">
        	<div class="kuai2-lf">
            	 <a href="__URL__/orderDis"><img src="__PUBLIC__/images/dd_39.png"></a>
            	<a href="__URL__/orderDis"><p>订单管理</p></a>
            </div>
            <div class="kuai2-ri">
            	<a href="__URL__/salesManageDis"><img src="__PUBLIC__/images/xs_41.png"></a>
                <a href="__URL__/salesManageDis"><p>销售管理</p></a>
            </div>
        </div>
        <div class="kuai3">
        	<div class="kuai3-lf">
            	 <a href="__URL__/customerManageDis"><img src="__PUBLIC__/images/ren_57.png"></a>
            	<a href="__URL__/customerManageDis"><p>客户管理</p></a>
            </div>
            <div class="kuai3-ri">
            	<a href="__URL__/myEarningDis"><img src="__PUBLIC__/images/sk_63.png"></a>
                <a href="__URL__/myEarningDis"><p>我的收入</p></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
