<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<title>促销管理</title>
<link href="__PUBLIC__/css/weidian.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="box">
	<div class="top">
    	<div class="top1"><a href="javascript:history.go(-1)"><img src="__PUBLIC__/images/tjt_03.png"></a></div>
        <div class="top2">促销管理</div>
        <div class="top3"><a href="__URL__/promotionAdd">添加</a></div>
    </div>
    <div class="cxgl">
        <volist name="promotions" id='vo'>
            <div class="cxgl_con">
                <div class="cxgl_con_left">{$vo.promotion}折</div>
                <div class="cxgl_con_right"><b>开始&nbsp;&nbsp;</b>{$vo.start_time|date='Y-m-d H:m:s',###}<br /><b>结束&nbsp;&nbsp;</b>{$vo.end_time|date='Y-m-d H:m:s',###}</div>
            </div>
        </volist>
    </div>
</div>
</body>
</html>
