<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />

<title>销售管理</title>
<meta name="description" content="">
<meta name="keywords" content="">

<link href="__PUBLIC__/css/weidian.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="box">
	<div class="top">
    	<div class="top1"><a href="javascript:history.go(-1);"><img src="__PUBLIC__/images/tjt_03.png"></a></div>
    	<div class="top2">销售管理</div>
        
    </div>
    <div class="xsgl">
    	<div class="xsgl_con">
        	<div class="xsgl_con_nr">
            	<div class="xsgl_con_nr_tit">每日订单</div>
                <div class="xsgl_con_nr_tu"><a href="mrdd.html" target="_blank"><img src="__PUBLIC__/images/dd.jpg" width="100%" height="198"></a></div>
            </div>
        </div>
        <div class="xsgl_con">
        	<div class="xsgl_con_nr">
            	<div class="xsgl_con_nr_tit">成交金额</div>
                <div class="xsgl_con_nr_tu"><a href="cjje.html" target="_blank"><img src="__PUBLIC__/images/cjje.jpg" width="100%" height="198"></a></div>
            </div>
        </div>
        <div class="xsgl_con">
        	<div class="xsgl_con_nr">
            	<div class="xsgl_con_nr_tit">每日访客</div>
                <div class="xsgl_con_nr_tu"><a href="mrfk.html" target="_blank"><img src="__PUBLIC__/images/mrfk.jpg" width="100%" height="198"></a></div>
            </div>
        </div>
        <div class="xsgl_con1">如需导出每日订单，请在电脑上访问：http://www.baidu.com</div>
    </div>
</div>
</body>
</html>
