<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />

<title>卖家市场</title>
<link href="__PUBLIC__/css/weidian.css" rel="stylesheet" type="text/css" />
<script src='__PUBLIC__/js/jquery.js'></script>
</head>

<body>
<div class="box">
	<div class="top">
    	<div class="top1"><a href="javascript:history.go(-1)"><img src="__PUBLIC__/images/tjt_03.png"></a></div>
        <div class="top2">批发市场</div>
        <div class="top3"><a href="#">刷新</a></div>
    </div>
    <div class="pfsc">
    	<div class="pfsc_con"><span><a href="#" class="apply">我有货源</a></span>批发市场</div>
        <div class="pfsc_con1">
        	<div class="pfsc_con1_l"><a href="pfscxq.html"><img src="__PUBLIC__/images/pfsc1.jpg" /></a></div>
            <div class="pfsc_con1_r">梦加斯地毯</div>
        </div>
         
    </div>
</div>
</body>
</html>
<script>
    $('a.apply').click(function(event){
        event.preventDefault();
        //todo:需要信息不明无法确定
        alert('您还没有通过审核，请到访问网页,提交您的店铺信息');
    });
</script>

