<!doctype html>
<html>
<head>
<style>
.fl{position:relative;}
.spfl{width:25%;height:auto; background-color:#f2f2f2; position:absolute; bottom:50px;left:23%; display:none;}
.spfl li{ height:25px;width:100%; border-bottom:#b6b6b6 1px solid; text-align:center; line-height:25px;}
.spfl li a{ color:#333; font-size:14px; font-family:"方正黑体简体"}
</style>
<meta charset="utf-8">
<link href="__PUBLIC__/css/zy.css" rel="stylesheet" type="text/css" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<script src="__PUBLIC__/js/jquery.js"></script>
<title>微店</title>
</head>
<body>
<div class="box" style="margin-bottom:51px;">
	<div class="top">
    	<a class="tjt" href="weidian.html"><img src="__PUBLIC__/images/tjt_03.png"></a>
        <a class="a1">商品预览</a>
        <a class="a5" href="#">刷新</a>
    </div>
    <div class="baik">
        <div class="dian"><img src="__PUBLIC__/images/dian_03.png">微店<span class="dian1">和煦百货</span></div>
         <div class="xin"><img src="__PUBLIC__/images/xin_09.png"></div>
        <div class="huitiao2"></div>
      </div>
      <div class="x_banner"><img src="__PUBLIC__/images/x_banner.jpg"width="100%"></div>
      <div class="x_touxiang">
      	<div class="x_tx">
        <img src="__PUBLIC__/images/renxiang_03.png">
        <div class="x_text">
        <p class="x_dm">和煦百货的店</p>
        <p class="x_wx">微信&nbsp;52892409</p>
        </div>
        </div>
      </div>
    <div class="x_dztj">
    	<p class="x_tj">所有产品</p>
        <div class="x_zcp">
        <div class="x_cp">
        <dl>
        	<dt><a href="yulan.html"><img src="__PUBLIC__/images/cp1.jpg"width="100%"height="150px"></a></dt>
            <dd>
                <p class="name">祛痘膏升级版</p>
                <p class="x_jq">￥65.00</p>
            </dd>
        </dl>
     </div>
     <div class="x_cp">
        <dl>
        	<dt><img src="__PUBLIC__/images/cp1.jpg"width="100%"height="150px"></dt>
            <dd>
                <p class="name">祛痘膏升级版</p>
                <p class="x_jq">￥65.00</p>
            </dd>
        </dl>
     </div>
     <div class="x_cp">
        <dl>
        	<dt><img src="__PUBLIC__/images/cp1.jpg"width="100%"height="150px"></dt>
            <dd>
                <p class="name">祛痘膏升级版</p>
                <p class="x_jq">￥65.00</p>
            </dd>
        </dl>
     </div>
     <div class="x_cp">
        <dl>
        	<dt><img src="__PUBLIC__/images/cp1.jpg"width="100%"height="150px"></dt>
            <dd>
                <p class="name">祛痘膏升级版</p>
                <p class="x_jq">￥65.00</p>
            </dd>
        </dl>
     </div>
     </div>
     </div>
     <div class="db1">
       		<ul>
            	<li><img src="__PUBLIC__/images/fdj.png"></li>
            	<li class="fl"><a href="#">商品分类</a></li>
      			<li class="line"><a href="wdwd1.html">我的微店</a></li>
      			<li class="line"><a href="gwc.html">购物车</a></li>
  			</ul>
      </div>
                <div class="spfl">
                	<ul>
                    	<li><a href="#">女装</a></li>
                        <li><a href="#">男装</a></li>
                        <li><a href="#">童装</a></li>
                    </ul>
                </div>
                <script>
$(" .fl").click(function(){$(".spfl").show(20);})
$(" .fl").click(function(){$(".spfl").css({display:"none"});});
                </script>
            </div>
    </div>
</div>
</body>
</html>
