<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<script src="js/jquery.js"></script>
<title>微店</title>
</head>
<body>
<div class="box">
	<div class="top">
    	<a class="tjt" href="sz.html"><img src="images/tjt_03.png"></a>
        <a class="a1">淘宝搬家助手</a>
        <a class="a5" href="#">刷新</a>
    </div>
    <div class="bj_b">
        淘宝搬家助手
    </div>
    <div class="bj_k">
    	<p class="bj_p1">淘宝搬家助手帮你把淘宝店铺商品一键复制到微店。</p>
        <div class="bj_2"><a href="ksbj.html">快速搬家</a></div>
        <div class="bj_3"><a href="pubj.html">普通搬家</a></div>
        <p class="bj_p2"><img src="images/th_03.png">若快速搬家失败，请尝试普通搬家。
        <br>咨询客服：QQ:800033557
        </p>
    </div>
      
</div>
</body>
</html>
