<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />

<title>销售管理-成交金额</title>
<meta name="description" content="">
<meta name="keywords" content="">

<link href="style/weidian.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="box">
	<div class="top">
    	<div class="top1"><a href="xsgl.html"><img src="images/tjt_03.png"></a></div>
        <div class="top2">成交金额</div>
    </div>
    <div class="xsgl">
    	<div class="xsgl_con">
        	<div class="xsgl_con_nr">
            	<div class="xsgl_con_nr_tit">成交金额</div>
                <div class="xsgl_con_nr_tu"><a href="#" target="_blank"><img src="images/cjje.jpg" width="100%" height="198"></a></div>
            </div>
        </div>
        <div class="xsgl_con2">
        	<div class="xsgl_con2_nr">
           		<div class="xsgl_con2_nr_tit">成交来源<span>成交金额</span></div>
                <div class="xsgl_con2_nr_con">
                	<div class="xsgl_con2_nr_con1">2014-09-09<span>合计</span></div>
                    <div class="xsgl_con2_nr_con2">口袋购物<span style="margin-left:40%;">1</span><span>+其他</span></div>
                    <div class="xsgl_con2_nr_con3">0<span>1</span></div>
                </div>
                <div class="xsgl_con2_nr_con">
                	<div class="xsgl_con2_nr_con1">2014-09-09<span>合计</span></div>
                    <div class="xsgl_con2_nr_con2">口袋购物<span style="margin-left:40%;">1</span><span>+其他</span></div>
                    <div class="xsgl_con2_nr_con3">0<span>1</span></div>
                </div>
                <div class="xsgl_con2_nr_con">
                	<div class="xsgl_con2_nr_con1">2014-09-09<span>合计</span></div>
                    <div class="xsgl_con2_nr_con2">口袋购物<span style="margin-left:40%;">1</span><span>+其他</span></div>
                    <div class="xsgl_con2_nr_con3">0<span>1</span></div>
                </div>
                <div class="xsgl_con2_nr_con">
                	<div class="xsgl_con2_nr_con1">2014-09-09<span>合计</span></div>
                    <div class="xsgl_con2_nr_con2">口袋购物<span style="margin-left:40%;">1</span><span>+其他</span></div>
                    <div class="xsgl_con2_nr_con3">0<span>1</span></div>
                </div>
                <div class="xsgl_con2_nr_con">
                	<div class="xsgl_con2_nr_con1">2014-09-09<span>合计</span></div>
                    <div class="xsgl_con2_nr_con2">口袋购物<span style="margin-left:40%;">1</span><span>+其他</span></div>
                    <div class="xsgl_con2_nr_con3">0<span>1</span></div>
                </div><div class="xsgl_con2_nr_con">
                	<div class="xsgl_con2_nr_con1">2014-09-09<span>合计</span></div>
                    <div class="xsgl_con2_nr_con2">口袋购物<span style="margin-left:40%;">1</span><span>+其他</span></div>
                    <div class="xsgl_con2_nr_con3">0<span>1</span></div>
                </div>
                
            </div>
        </div>
       
    </div>
</div>
</body>
</html>
