<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />

<title>促销管理-添加私密优惠完成</title>
<link href="style/weidian.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="box">
	<div class="top">
    	<div class="top1"></div>
        <div class="top2">把优惠发给买家</div>
        <div class="top3"><a href="cxgl.html">完成</a></div>
    </div>
  <div class="smyhwc">
  		<div class="smyhwc_con">私密优惠添加成功</div>
        <div class="smyhwc_con1"><span><a href="yldp2.html"><img src="images/jaintou2.jpg"  /></a></span>预览优惠</div>
        <div class="smyhwc_con2">
       	  <div class="smyhwc_con2_tit">请通过以下方式进行分享</div>
            <div class="smyhwc_con2_con">
            	<dl>
                	<dt><a href="#"><img src="images/icon5.jpg"/></a></dt>
                    <dd>微信</dd>
                </dl>
                <dl>
                	<dt><a href="#"><img src="images/icon6.jpg"/></a></dt>
                    <dd>朋友圈</dd>
                </dl>
                <dl>
                	<dt><a href="#"><img src="images/icon7.jpg" /></a></dt>
                    <dd>短信</dd>
                </dl>
                <dl>
                	<dt><a href="#"><img src="images/icon8.jpg" /></a></dt>
                    <dd>qq</dd>
                </dl>
            </div>
            <div class="smyhwc_con2_con">
            	<dl>
                	<dt><a href="#"><img src="images/icon9.jpg"/></a></dt>
                    <dd>qq空间</dd>
                </dl>
                <dl>
                	<dt><a href="#"><img src="images/icon10.jpg"/></a></dt>
                    <dd>新浪微博</dd>
                </dl>
                <dl>
                	<dt><a href="#"><img src="images/icon11.jpg" /></a></dt>
                    <dd>易信</dd>
                </dl>
                <dl>
                	<dt><a href="#"><img src="images/icon12.jpg"  /></a></dt>
                    <dd>易信朋友圈</dd>
                </dl>
            </div>
            <div class="smyhwc_con2_con">
            	<dl>
                	<dt><a href="#"><img src="images/icon13.jpg" /></a></dt>
                    <dd>facebook</dd>
                </dl>
                <dl>
                	<dt><a href="#"><img src="images/icon14.jpg"/></a></dt>
                    <dd>pinterest</dd>
                </dl>
                <dl>
                	<dt><a href="#"><img src="images/icon15.jpg" /></a></dt>
                    <dd>twitter</dd>
                </dl>
               
            </div>
        </div>
  </div>
    
</div>
</body>
</html>
