<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<title>微店</title>
</head>
<body>
<div class="box">
	<div class="top">
    	<a class="tjt" href="ddgl_2.html"><img src="images/tjt_03.png"></a>
        <a class="a1">订单详情</a>
    </div>
   	<div class="xx1_k">
    	<form action="" method="get">
        	<textarea class="ddxq_1" name="" cols="" rows="">建议20个字以内</textarea>
        </form>
        <div class="ddxq_2">*该备注买家不可见</div>
    </div>
</div>
</body>
</html>
