<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.js"></script>
<title>微店</title>
</head>
<body>
<div class="box">
	<div class="top">
    	<a class="tjt" href="ddgl.html"><img src="images/tjt_03.png"></a>
        <a class="a1">订单管理</a>
    </div>
    <div class="gl2_k">
    	<div class="gl2_1">
        	<div class="gl2_bh">
            	<p class="gl2_p1">订单编号</p>
                <p class="gl2_p2">12302772</p>
            </div>
            <div class="gl2_bh">
            	<p class="gl2_p1">下单账号</p>
                <p class="gl2_p3">13888888888</p>
            </div>
            <div class="gl2_bh">
            	<p class="gl2_p1">订单类型</p>
                <p class="gl2_p2">直接付款</p>
            </div>
            <div class="gl2_zt">
            	<p class="gl2_p1">订单状态</p>
                <p class="gl2_p4">已完成</p>
            </div>
        </div>
        <p class="gl2_sh"> 收货人信息</p>
        <div class="gl2_3">
            <div class="gl2_name"><p>刘德华</p></div>
            <div class="gl2_phone">
            	<p class="gl2_p5">电话</p>
                <p class="gl2_p6">13888888888</p>
            </div>
            <div class="gl2_phone1">
            	<p class="gl2_p5">地址</p>
                <p class="gl2_p7">吉林 长春 净月潭开发区 园丁花园5栋5单元111</p>
            </div>
            <div class="gl2_dz">
            	<p class="gl2_p5">买家备注</p>
            </div>
        </div> 
        <p class="gl2_sh">商品信息</p>  
        <div class="gl2_4">
        	<div class="gl2_cp">
            	<img src="images/gw_cp_07.png">
                <div class="gl2_r">
                	<p class="gl2_p8">人民币</p>
                    <p class="gl2_p9">855.00x1</p>
                </div>
            </div>
            <div class="gl2_bh">
            	<p class="gl2_p1">订单总价</p>
                <p class="gl2_p2">￥855.00</p>
            </div>
            <div class="gl2_bh">
            	<p class="gl2_p1">运费</p>
                <p class="gl2_p2">￥0.00</p>
            </div>
             <div class="gl2_bh">
            	<p class="gl2_p1">推广费</p>
                <p class="gl2_p2">￥0.00</p>
            </div>
            <div class="gl2_zt">
            	<p class="gl2_p1">订单优惠</p>
                <p class="gl2_p2">无优惠</p>
            </div>
        </div>
        <p class="gl2_sh"> 订单信息</p>
        <div class="gl2_bh">
            	<p class="gl2_p1">订单编号</p>
                <p class="gl2_p2">12302772</p>
        </div>
        <div class="gl2_bh">
            	<p class="gl2_p1">下单时间</p>
                <p class="gl2_p2">2014-09-29 12:18:30</p>
        </div>
        <div class="gl2_bh">
            	<p class="gl2_p1">汇款时间时间</p>
                <p class="gl2_p2"></p>
        </div>
         <div class="gl2_zt">
            	<p class="gl2_p1"><a href="ddbz2.html">订单备注</a></p>
                <p class="gl2_p10"><a href="ddbz2.html">></a></p>
            </div>
        </div>
</div>
</body>
</html>
