<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />

<title>附近的微店</title>
<link href="style/weidian.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="box">
	<div class="top">
    	<div class="top1"><a href="index1.html"><img src="images/tjt_03.png"></a></div>
        <div class="top2">附近的微店</div>
        <div class="top3"><a href="#">刷新</a></div>
    </div>
    <div class="fjdwd">
    	<div class="fjdwd_con">
        	<ul>
            	<li class="fjdwd_con_line"><a href="fjdwd.html" style="color:#fff;">附近微店</a></li>
                <li><a href="fjhh.html">附近好货</a></li>
            </ul>
        </div>
        <div class="fjdwd_con1">
        	<ul>
            	<li><a style="color:#f46324;">全部</a></li>
                <li><a href="fjdwd.html">本地生活</a></li>
                <li><a href="fjdwd.html">宠物</a></li>
                <li><a href="fjdwd.html">旅游</a></li>
            </ul>
        </div>
        <div class="fjdwd_con2">
        	<div class="fjdwd_con2_l"><img src="images/wz.jpg"  /></div>
            <div class="fjdwd_con2_c">当前的位置</div>
            <div class="fjdwd_con2_r"><a href="#"><img src="images/shuaxin.jpg"  /></a></div>
        </div>
  <div class=" fjdwd_con3">
        	<div class="fjdwd_con31">
            	<div class="fjdwd_con31_l"><a href="#"><img src="images/fjwd_logo.jpg"/></a></div>
                <div class="fjdwd_con31_r">
                	<h1><span><img src="images/wz1.jpg" /><span>100米</span></span>果胖东北特产</h1>
                    <P>果胖东北特产果胖东北特产果胖东北特产</P>
              </div>
            </div>
            <div class="fjdwd_con32"><img src="images/fjwd_pic.jpg"/><img src="images/fjwd_pic1.jpg"/><img src="images/fjwd_pic2.jpg" /></div>
        </div>
        <div class=" fjdwd_con3">
        	<div class="fjdwd_con31">
            	<div class="fjdwd_con31_l"><a href="#"><img src="images/fjwd_logo.jpg"/></a></div>
                <div class="fjdwd_con31_r">
                	<h1><span><img src="images/wz1.jpg" /><span>100米</span></span>果胖东北特产</h1>
                    <P>果胖东北特产果胖东北特产果胖东北特产</P>
              </div>
            </div>
            <div class="fjdwd_con32"><img src="images/fjwd_pic.jpg"/><img src="images/fjwd_pic1.jpg"/><img src="images/fjwd_pic2.jpg" /></div>
        </div>
        <div class=" fjdwd_con3">
        	<div class="fjdwd_con31">
            	<div class="fjdwd_con31_l"><a href="#"><img src="images/fjwd_logo.jpg"/></a></div>
                <div class="fjdwd_con31_r">
                	<h1><span><img src="images/wz1.jpg" /><span>100米</span></span>果胖东北特产</h1>
                    <P>果胖东北特产果胖东北特产果胖东北特产</P>
              </div>
            </div>
            <div class="fjdwd_con32"><img src="images/fjwd_pic.jpg"/><img src="images/fjwd_pic1.jpg"/><img src="images/fjwd_pic2.jpg" /></div>
        </div>
        <div class=" fjdwd_con3">
        	<div class="fjdwd_con31">
            	<div class="fjdwd_con31_l"><a href="#"><img src="images/fjwd_logo.jpg"/></a></div>
                <div class="fjdwd_con31_r">
                	<h1><span><img src="images/wz1.jpg" /><span>100米</span></span>果胖东北特产</h1>
                    <P>果胖东北特产果胖东北特产果胖东北特产</P>
              </div>
            </div>
            <div class="fjdwd_con32"><img src="images/fjwd_pic.jpg"/><img src="images/fjwd_pic1.jpg"/><img src="images/fjwd_pic2.jpg" /></div>
        </div>
        <div class=" fjdwd_con3">
        	<div class="fjdwd_con31">
            	<div class="fjdwd_con31_l"><a href="#"><img src="images/fjwd_logo.jpg"/></a></div>
                <div class="fjdwd_con31_r">
                	<h1><span><img src="images/wz1.jpg" /><span>100米</span></span>果胖东北特产</h1>
                    <P>果胖东北特产果胖东北特产果胖东北特产</P>
              </div>
            </div>
            <div class="fjdwd_con32"><img src="images/fjwd_pic.jpg"/><img src="images/fjwd_pic1.jpg"/><img src="images/fjwd_pic2.jpg" /></div>
        </div>
    </div>
</div>    
</body>
</html>
