<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<script src="js/jquery.js"></script>
<title>微店</title>
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
</head>
<body onLoad="MM_preloadImages('images/jiah_12.png','images/ren_15.png','images/qyuan_17.png','images/deng_12.png')">
<div class="box">
	<div class="top">
    	<a class="tjt" href="index-2.html"><img src="images/tjt_03.png"></a>
        <a class="a1">我要推广</a>
        <a class="a5" href="#">刷新</a>
    </div>
    <div class="dt_1">管理友情店铺</div> 
    <div class="dt_k">
       		<div class=" gl_1">
            	<div class="gl_1_l"><a href="#"><img src="images/gd_03.png"></a></div>
                <div class="gl_1_z"><a href="#">流失的岁月</a></div>
                <div class="gl_1_r"><img src="images/cha.png"></div>
            </div>
            <div class=" gl_1">
            	<div class="gl_1_l"><a href="#"><img src="images/gd_03.png"></a></div>
                <div class="gl_1_z"><a href="#">流失的岁月</a></div>
                <div class="gl_1_r"><img src="images/cha.png"></div>
            </div>
            <div class=" gl_1">
            	<div class="gl_1_l"><a href="#"><img src="images/gd_03.png"></a></div>
                <div class="gl_1_z"><a href="#">流失的岁月</a></div>
                <div class="gl_1_r"><img src="images/cha.png"></div>
            </div>
            <div class=" gl_1">
            	<div class="gl_1_l"><a href="#"><img src="images/gd_03.png"></a></div>
                <div class="gl_1_z"><a href="#">流失的岁月</a></div>
                <div class="gl_1_r"><img src="images/cha.png"></div>
            </div>
       <div class="gl_1_con">
       <form action="" method="get">
       	<input name="" type="submit" value="切换自动管理友情店铺" style="background:none; border:none; font-size:18px; width:100%; height:40px; color:#fff;">
       </form>
       </div>
       <div class="db">
       		<dl>
            	<dt>
                <a href="yqlj.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','images/jiah_12.png',1)"><img src="images/jiah_11.png" width="25" height="25" id="Image1"><br>添加</a></dt>
                
            </dl>
           <dl>
            <dt class="dt1">
               <img src="images/ren_15.png"width="25" height="25" ><br>管理</dt>
           </dl>
            <dl>
           	  <dt>
              <a href="tj.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','images/qyuan_17.png',1)"><img src="images/qyuan_16.png" width="25" height="25" id="Image2"><br>统计</a></dt>
  
            </dl>
       <dl>
   	     <dt>
         <a href="dt.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','images/deng_12.png',1)"><img src="images/deng_11.png" width="25" height="25" id="Image3"><br>动态</a></dt>
  
    </dl>
    </div>
</div>
</body>
</html>
