<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<script src="js/jquery.js"></script>
<title>微店</title>
</head>
<body>
<div class="box" style="margin-bottom:51px;">
	<div class="top">
    	<a class="tjt" href="index-2.html"><img src="images/tjt_03.png"></a>
        <a class="a1">预览商品</a>
        <a class="a5" href="#">刷新</a>
    </div>
    <div class="baik">
    	<div class="huijt"><a href="yulan.html"><img src="images/huijt_03.png"></a></div>
        <div class="huitiao"></div>	
        <div class="dian"><img src="images/dian_03.png">微店<span class="dian1">购物车</span></div>
      </div>
      <div class="gw_k">
          <div class="gw_1">
            <p class="gw_p1">已选购的商品</p>
            <div class="gw_gm">
            	<img src="images/gw_cp_07.png">
                <div class="gw_z">
                <p class="gw_gm1">啊啊啊啊</p>
                <div class="gwc_sl">
                <p class="gw_gm2"><span>￥41.00</span>　X</p>
                <form action="" method="get">
                   <input  class="gwc_s" type="text" value="1">
                </form>
                </div>
            </div>
          </div>
          </div>
          <div class="gw_2">
          		<div class="gw_zh">
                	<p class="zh_p">已登录账号:<span>xxxxxxxxxxx</span></p>
                    <input type="button" value="切换账号">
                </div>
                <div class="gw_jy">此号码可接交易短信，登陆<span>i.vdian.com</span>可管理订单</div>
          </div>
          <div class="gw_rxx">收货人信息</div>
          <div class="gw_3">
          		<div class="gw_r">
                <p>收货人</p>
                <form action="" method="get">
                	<input type="text">
                </form>
                </div>
                <div class="gw_r">
                <p>手机号码</p>
                <form action="" method="get">
                	<input type="text"  value="xxxxxxxxxxx">
                </form>
                </div>
                <div class="gw_r">
                <p>省份</p>
                <form action="" method="get">
                	<select name="">
                    <option>--省份--</option>
                    <option>北京</option>
                    <option>安徽</option>
                    <option>福建</option>
                    <option>甘肃</option>
                    <option>广东</option>
                    <option>广西</option>
                    <option>贵州</option>
                    </select>
                </form>
                </div>
                <div class="gw_r">
                <p>城市</p>
                <form action="" method="get">
                	<select name="">
                    <option>--城市--</option>
                    <option>长春</option>
                    <option>吉林</option>
                    <option>白城</option>
                    <option>白山</option>
                    <option>辽源</option>
                    <option>四平</option>
                    <option>松原</option>
                    </select>
                </form>
                </div>
                <div class="gw_r">
                <p>地区</p>
                <form action="" method="get">
                	<select name="">
                    <option>--地区--</option>
                    <option>朝阳区</option>
                    <option>宽城区</option>
                    <option>二道区</option>
                    <option>南关区</option>
                    <option>绿园区</option>
                    </select>
                </form>
                </div>
                <div class="gw_r">
                <p>详细地址</p>
                <form action="" method="get">
                	<input type="text">
                </form>
                </div>
                <div class="gw_r">
                <p>备注</p>
                <form action="" method="get">
                	<input type="text"  value="给卖家留言（选填）">
                </form>
                </div>
                <div class="gw_r">
                <p>微信号</p>
                <form action="" method="get">
                	<input type="text"  value="方便卖家与你联系（选填）">
                </form>
                </div>
          </div>
          <div class="gw_4">
          		<p class="gw_hj">合计（不含运费）：<span>￥0.00</span></p>
                <form action="" method="get">
                  <a href="qrxd1.html"><input type="button" value="结算(x)"></a>
                </form>
          </div>
      </div>
     <div class="db1">
       		<ul>
            	<li><img src="images/fdj.png"></li>
            	<li class="line"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">商品分类</a>
        <div id="light" class="white_content">该店家暂未设置分类 <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">关闭</a></div> 
        <div id="fade" class="black_overlay"></div> </li>
      			<li class="line"><a href="wdwd1.html">我的微店</a></li>
      			<li class="line"><a href="gwc.html">购物车</a></li>
  			</ul>
            <div class="tb_content">
            	<div class="search_left">
                	<a  class="tb_title"></a>
                </div>
                <form action="" method="get">
                	<input  class="block"type="search" placeholder="搜索本店铺商品">
                    <a class="search">搜索</a> 
                </form>
            </div>
    </div>
</div>
</body>
</html>
