<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<script src="js/jquery.js"></script>
<title>微店</title>
</head>
<body>
<div class="box">
	<div class="top">
    	<a class="tjt" href="sz.html"><img src="images/tjt_03.png"></a>
        <a class="a1">关于微店</a>
        <a class="a5" href="#">刷新</a>
    </div>
    <div class="gy_1">
    	<img src="images/gy_03.jpg"width="100%">  
    </div>
    <p class="gy_p1">微店是由北京口袋时尚科技有限公司开发，帮助卖家在手机上开店的软件。</p>
    <div class="gy_k">
    	<div class="gy_b">
         <p class="gy_p2">【0手续费】</p>
         <p class="gy_p2">微店完全免费，所有交易不收取任何手续费。</p>
         <p class="gy_p3">【账期极短】</p>
         <p class="gy_p2">微店每天会自动将前一天的货款全部提现到你的银行卡，让你及时回款（一般提现后1-2个工作日到账）。</p>
         <p class="gy_p3">【支付快捷】</p>
         <p class="gy_p2">支持微信支付、支付宝、信用卡、储蓄卡、等多种支付方式，无需网银，安全快捷。</p>
         <p class="gy_p3">【管理方便】</p>
         <p class="gy_p2">随时随地添加商品、查看订单，并可一键分享到微信、微博、QQ空间等多个平台。</p>
         <p class="gy_p3">【微店联盟】</p>
         <p class="gy_p2">是联合广大合作伙伴（微店客）帮助卖家推广商品、扩大知名度的合作平台。通过分成推广促成的交易，微店客可以获得相应的佣金。</p>
         <p class="gy_p4">微店联盟官方网址：http://cps.vdian.com</p>
         <div class="gy_p5">
         <p class="gy_p3">【多重认证】</p>
         <p class="gy_p2">微店认证体系，确保店铺安全可靠，为你的交易保驾护航！</p>   
         </div>
         <p class="gy_p4">官方微博：@微店</p>
         <p class="gy_p4">企业客服QQ:800033557</p>
         <p class="gy_p4">客服电话：4008-933-557</p>
         <p class="gy_p4">企业合作邮箱：support@koudai.com</p>
    	</div>
        <p class="gy_p6">(人工服务时间：周一至周五，早9点到晚7点)</p>
        <div class="gy_b">
        	<p class="gy_p2">电脑版微店：v.vdian.com</p>
            <p class="gy_p4">
            <a class="gy_a0" href="#">微店联盟官方网址：http://cps.vdian.com</a>
            <a class="gy_a1" href="#"><img src="images/xhj_03.png"></a>
            </p>
            <p class="gy_p4">
            <a class="gy_a0" href="#">微店禁售商品管理</a>
            <a class="gy_a1" href="#"><img src="images/xhj_03.png"></a>
            </p>
            <p class="gy_p4">
            <a class="gy_a0" href="#">微店注册使用协议</a>
            <a class="gy_a1" href="#"><img src="images/xhj_03.png"></a>
            </p>
        </div>
    </div>
      
</div>
</body>
</html>
