<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<title>微店</title>
<link href="style/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="wrap">
    <div class="jiantou2"><a href="index1.html"><img src="images/jt2_03.png"></a></div>
	<div class="weidian">微店</div>
    <div class="kuai">
    	<div class="kuai1">
        	<div class="kuai4-lf">
            	 <a href="cxgl.html"><img src="images/cx_07.png"></a>
            	<a href="cxgl.html"><p>促销管理</p></a>
            </div>
            <div class="kuai4-ri">
            	<a href="wytg.html"><img src="images/dq_10.png"></a>
                <a href="wytg.html"><p>我要推广</p></a>
            </div>
        </div>
        <div class="kuai5">
        	<div class="kuai5-lf">
            	 <a href="mjsc.html"><img src="images/mj_13.png"></a>
            	<a href="mjsc.html"><p>卖家市场</p></a>
            </div>
        </div>
    </div>
    <div class="footer2">
    	<div class="laba" ><a href="xxzx.html"><img src="images/laba_70.png"></a></div>
        <div class="dian" ><img src="images/dian2_07.png"></div>
        <div class="shezhi" ><a href="sz.html"><img src="images/shezhi_73.png"></a></div>
    </div>
</div>
</body>
</html>
