<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<script src="js/jquery.js"></script>
<title>微店</title>
</head>
<body>
<div class="box">
	<div class="top">
    	<a class="tjt" href="index-2.html"><img src="images/tjt_03.png"></a>
        <a class="a1">我要推广</a>
        <a class="a5" href="#">刷新</a>
    </div>
    <div class="baik1">
    	<div class="huijt"><a href="kdztc.html"><img src="images/huijt_03.png"></a></div>
        <div class="huitiao"></div>	
        <div class="fc">口袋直通车</div>
      </div>
      <div class="zt_k">
      	 <p class="kd_kt">开通方式</p>
         <p class="kd_kt">在电脑上访问口袋购物商家营销平台：</p>
         <p class="kd_lj"><a href="sell.koudai.com">sell.koudai.com</a></p>
         <p class="kd_kt">选择“我是微店卖家，用微店账户登录”，用你的微店手机号码、诶点密码登录。</p>
         <p class="kd_kt" >登录成功后，如果对你的店铺符合条件，就能立刻开通口袋直通车啦！赶快打开电脑试试吧！</p>
      </div>
      </div>
</body>
</html>
