<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />

<title>卖家市场</title>
<link href="style/weidian.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="box">
	<div class="top">
    	<div class="top1"><a href="index1.html"><img src="images/tjt_03.png"></a></div>
        <div class="top2">卖家市场</div>
    </div>	
    <div class="wytg">
    	<div class="wytg_con">
        	<dl>
            	<dt><a href="pfsc.html"><img src="images/pfsc.jpg" width="95" height="85" /></a></dt>
                <dd>
                	<h1>批发市场</h1>
                    <P>没货源，看这里</P>
                </dd>
            </dl>
            <dl>
            	<dt><a href="zffc.html"><img src="images/zffc.jpg" width="95" height="85" /></a></dt>
                <dd>
                	<h1>转发分成</h1>
                    <P>分享也能赚钱</P>
                </dd>
            </dl>
            <dl>
            	<dt><a href="fjdwd.html"><img src="images/fjwd.jpg" width="95" height="85" /></a></dt>
                <dd>
                	<h1>附近微店</h1>
                    <P>看看你的邻居都在卖什么</P>
                </dd>
            </dl>
        </div>
    </div>
</div>
</body>
</html>
