<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<script src="js/jquery.js"></script>
<title>微店</title>
</head>
<body>
<div class="box">
	<div class="top">
    	<a class="tjt" href="tjcg.html"><img src="images/tjt_03.png"></a>
        <a class="a1">选择标签</a>
    </div>
    <div class="bq_k">
    	<div class="dq_1"><a href="tjcg.html">女装</a></div>
        <div class="dq_2"><a href="#">男装</a></div>
        <div class="dq_2"><a href="#">箱包</a></div>
        <div class="dq_2"><a href="#">内衣</a></div>
        <div class="dq_2"><a href="#">家电</a></div>
        <div class="dq_2"><a href="#">电脑办公</a></div>
        <div class="dq_2"><a href="#">运动户外</a></div>
        <div class="dq_2"><a href="#">美食保健</a></div>
        <div class="dq_2"><a href="#">居家日用</a></div>
        <div class="dq_2"><a href="#">男装</a></div>
        <div class="dq_2"><a href="#">箱包</a></div>
        <div class="dq_2"><a href="#">内衣</a></div>
        <div class="dq_2"><a href="#">家电</a></div>
        <div class="dq_2"><a href="#">电脑办公</a></div>
        <div class="dq_2"><a href="#">运动户外</a></div>
        <div class="dq_2"><a href="#">美食保健</a></div>
        <div class="dq_2"><a href="#">居家日用</a></div>
        <div class="dq_2"><a href="#">男装</a></div>
        <div class="dq_2"><a href="#">箱包</a></div>
        <div class="dq_2"><a href="#">内衣</a></div>
        <div class="dq_2"><a href="#">家电</a></div>
        <div class="dq_2"><a href="#">电脑办公</a></div>
        <div class="dq_2"><a href="#">运动户外</a></div>
        <div class="dq_2"><a href="#">美食保健</a></div>
        <div class="dq_2"><a href="#">居家日用</a></div>
        <div class="dq_2"><a href="#">男装</a></div>
        <div class="dq_2"><a href="#">箱包</a></div>
        <div class="dq_2"><a href="#">内衣</a></div>
        <div class="dq_2"><a href="#">家电</a></div>
        <div class="dq_2"><a href="#">电脑办公</a></div>
        <div class="dq_2"><a href="#">运动户外</a></div>
        <div class="dq_2"><a href="#">美食保健</a></div>
        <div class="dq_2"><a href="#">居家日用</a></div>
</div>
</body>
</html>
