<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />

<title>批发市场</title>
<link href="style/weidian.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="box">
	<div class="top">
    	<div class="top1"><a href="mjsc.html"><img src="images/tjt_03.png"></a></div>
        <div class="top2">批发市场</div>
        <div class="top3"><a href="#">刷新</a></div>
    </div>
    <div class="pfsc">
    	<div class="pfsc_con"><span><a href="#">我有货源</a></span>批发市场</div>
        <div class="pfsc_con1">
        	<div class="pfsc_con1_l"><a href="pfscxq.html"><img src="images/pfsc1.jpg" /></a></div>
            <div class="pfsc_con1_r">梦加斯地毯</div>
        </div>
         <div class="pfsc_con1">
        	<div class="pfsc_con1_l"><a href="pfscxq.html"><img src="images/pfsc1.jpg" /></a></div>
            <div class="pfsc_con1_r">梦加斯地毯</div>
        </div>
         <div class="pfsc_con1">
        	<div class="pfsc_con1_l"><a href="pfscxq.html"><img src="images/pfsc1.jpg" /></a></div>
            <div class="pfsc_con1_r">梦加斯地毯</div>
        </div>
         <div class="pfsc_con1">
        	<div class="pfsc_con1_l"><a href="pfscxq.html"><img src="images/pfsc1.jpg" /></a></div>
            <div class="pfsc_con1_r">梦加斯地毯</div>
        </div>
         <div class="pfsc_con1">
        	<div class="pfsc_con1_l"><a href="pfscxq.html"><img src="images/pfsc1.jpg" /></a></div>
            <div class="pfsc_con1_r">梦加斯地毯</div>
        </div>
         <div class="pfsc_con1">
        	<div class="pfsc_con1_l"><a href="pfscxq.html"><img src="images/pfsc1.jpg" /></a></div>
            <div class="pfsc_con1_r">梦加斯地毯</div>
        </div>
         <div class="pfsc_con1">
        	<div class="pfsc_con1_l"><a href="pfscxq.html"><img src="images/pfsc1.jpg" /></a></div>
            <div class="pfsc_con1_r">梦加斯地毯</div>
        </div>
         <div class="pfsc_con1">
        	<div class="pfsc_con1_l"><a href="pfscxq.html"><img src="images/pfsc1.jpg" /></a></div>
            <div class="pfsc_con1_r">梦加斯地毯</div>
        </div>
         <div class="pfsc_con1">
        	<div class="pfsc_con1_l"><a href="pfscxq.html"><img src="images/pfsc1.jpg" /></a></div>
            <div class="pfsc_con1_r">梦加斯地毯</div>
        </div>
    </div>
</div>
</body>
</html>
