<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<script src="js/jquery.js"></script>
<title>微店</title>
</head>
<body>
<div class="box" >
	<div class="top">
    	<a class="tjt" href="index-2.html"><img src="images/tjt_03.png"></a>
        <a class="a1">淘宝搬家助手</a>
        <a class="a5" href="#">刷新</a>
    </div>
    <div class="baik1">
    	<div class="huijt"><a href="bjzs.html"><img src="images/huijt_03.png"></a></div>
        <div class="huitiao"></div>	
        <div class="fc">淘宝搬家助手</div>
      </div>
      <div class="pb_h">
      	<img src="images/pb_03.png">
      </div>
      <div class="pb_k">
      <div class="pb_1">
        <p>序列号：</p>
       <form action="" method="get">
       <input type="text" value="Wd-859143">
       </form>
       </div>
       <p class="pb_p1">
       请将此序列号加入你的淘宝店的某个商品标题中，以验证你对店铺的所有权。
       </p>
       <div class="pb_x"><a href="pubj2.html">下一步</a></div>
       <div class="pb_xx">
       <img src="images/th_03.png">
       </div>
       <p class="pb_p2">
       记下序列号，到淘宝网的卖家中心，去修改或发布一个宝贝。
       </p>
       <p class="pb_p2">
       无论是修改一个原有的宝贝，还是发布一个新的宝贝，只要保证在宝贝标题中，包含你的序列号<span>wd-XXXXXX</span>这串数字就可以
       </p>
       <p class="pb_p2">
       例如：淘宝截图
       </p>
       <div class="tbjt"><img src="images/tbjt_03.png"></div>
      </div>
      </div>
</div>
</body>
</html>
