<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<script src="js/jquery.js"></script>
<title>微店</title>
</head>
<body>
<div class="box" >
	<div class="top">
    	<a class="tjt" href="index-2.html"><img src="images/tjt_03.png"></a>
        <a class="a1">淘宝搬家助手</a>
        <a class="a5" href="#">刷新</a>
    </div>
    <div class="baik1">
    	<div class="huijt"><a href="pubj.html"><img src="images/huijt_03.png"></a></div>
        <div class="huitiao"></div>	
        <div class="fc">淘宝搬家助手</div>
      </div>
      <div class="pb_h">
      	<img src="images/pb2_03.png">
      </div>
      <div class="pb_k">
      <div class="pb_0">请输入标题中已加入序列号的商品ID</div>
      <div class="pb_1">
        <p>商品ID：</p>
       <form action="" method="get">
       <input type="text" value="">
       </form>
       </div>
       <div class="ht"><img src="images/ht_07.jpg"></div>
       <div class="pb_yz"><a href="#">验证</a></div>
       <p class="pb_zxq">咨询客服QQ：800033557</p>
      </div>
      </div>
</div>
</body>
</html>
