<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<script src="js/jquery.js"></script>
<title>微店</title>
</head>
<body>
<div class="box" style="margin-bottom:51px;">
	<div class="top">
    	<a class="tjt" href="tjcg.html"><img src="images/tjt_03.png"></a>
        <a class="a1">预览商品</a>
        <a class="a5" href="#">刷新</a>
    </div>
    <div class="baik">
    	<div class="huijt"><a href="gwc_gm.html"><img src="images/huijt_03.png"></a></div>
        <div class="huitiao"></div>	
        <div class="dian"><img src="images/dian_03.png">微店<span class="dian1">确认下单</span></div>
      </div>
      <div class="xd_kuang">
          <p class="xd_p1">收货人信息</p>
          <div class="xd_1">
          		<p class="xd_p2">刘德华</p>
                <div class="xd_phone">
                   <p class="xd_p3">电话</p>
                   <p class="xd_p4">xxxxxxxxxxx</p>
                   </div>
                   <div class="xd_dz">
                   <p class="xd_p3">地址</p>
                   <p class="xd_p5">吉林 长春 净月潭开发区 园丁花园7栋7单元111</p>
                   </div>
                </div>
                <div class="xd_p1">选择支付方式</div>
                <div class="xd_fs">
                	<div class="xd_db">担保交易</div>
                    <div class="xd_zj">直接到账</div>
                </div>
                <div class="xd_2">
                	<div class="xd_f"> <img src="images/jy_03.png"></div>
                    <div  class="xd_yl">
                    	<div class="hd"><img src="images/hd_03.png"></div>
                        <div class="yl"><img src="images/yl_03.png"></div>
                        <div class="fq">
                        	<p class="fq_1">信用卡支付（推荐）</p>
                            <p class="fq_2">每笔最高1万，每日限额1万</p>
                        </div>
                    </div>
                    <div  class="xd_yl">
                    	<div class="hd"><img src="images/hd_07.png"></div>
                        <div class="yl"><img src="images/cai_03.png"></div>
                        <div class="fq">
                        	<p class="fq_1">财付通</p>
                            <p class="fq_2">每笔最高1万，每日限额1万</p>
                        </div>
                    </div>
                    <div  class="xd_zf">
                    	<div class="hd"><img src="images/hd_07.png"></div>
                        <div class="yl"><img src="images/zf_03.png"></div>
                        <div class="fq">
                        	<p class="fq_1">支付宝或储蓄卡支付</p>
                            <p class="fq_2">每笔最高3万，每日限额5万</p>
                        </div>
                    </div>
                    
                </div>
                <div class="xd_p1">选购的商品</div>
                <div class="xd_3">
                	<p class="xd_pm">小火柴日本代购</p>
                    <div class="xd_js">
                    	<img src="images/dpm_03.png">
                        <div  class="xd_z">
                        <p>参天玫瑰眼霜药水 方干涩 无防腐剂消除疲劳，消除学习，配合侧近</p>
                        <p>单价：<span>￥135.00</span></p>
                        <p>数量：1</p>
                        </div>
                       <div class="xd_xj">小计：<span>￥135.00</span></div>
                       </div>
                       <div class="xd_hj"><p>1件商品，合计：￥135.00</p></div>
                       <div class="xd_hj"><p>运费：￥10:00</p></div>
                        <div class="xd_ze"><p>应付总额:<span>￥145.0</span></p></div>
                    </div>
                 <div class="xd_zy">
                   <img  src="images/ht_09.png">
                   <a>该商家支持担保交易，在您确认收货后，商家才能使用或提现资金，请放心购买！</a>
                </div>
               <form action="" method="get">
               <input class="xd_tjdd" type="button" value="提交订单">
               </form>
                <div class="xd_xy">“提交订单”视为已同意《微店担保交易协议》</div>
                </div>
          </div>
      </div>
     <div class="db1">
       		<ul>
            	<li><img src="images/fdj.png"></li>
            	<li class="line"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">商品分类</a>
        <div id="light" class="white_content">该店家暂未设置分类 <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">关闭</a></div> 
        <div id="fade" class="black_overlay"></div> </li>
      			<li class="line"><a href="wdwd1.html">我的微店</a></li>
      			<li class="line"><a href="gwc.html">购物车</a></li>
  			</ul>
            <div class="tb_content">
            	<div class="search_left">
                	<a  class="tb_title"></a>
                </div>
                <form action="" method="get">
                	<input  class="block"type="search" placeholder="搜索本店铺商品">
                    <a class="search">搜索</a> 
                </form>
            </div>
    </div>
</div>
</body>
</html>
