<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<title>微店</title>
</head>
<body>
<div class="box">
	<div class="top">
    	<a class="tjt" href="index1.html"><img src="images/tjt_03.png"></a>
        <a class="a1">设置</a>
    </div>
    <div class="sz_k">
      <div class="sz1">
      <p><a href="bjzs.html">淘宝搬家助手</a></p>
      <a href="bjzs.html"><img src="images/hjt_22.png"></a>
      </div>
      <div class="sz2">
      <p><a href="#">检查升级</a></p>
      <a href="#"><img src="images/hjt_22.png"></a>
      </div>
      <div class="sz2">
      <p><a href="#">求评价</a></p>
      <a href="#"><img src="images/hjt_22.png"></a>
      </div>
      <div class="sz2">
      <p><a href="gywd.html">关于微店</a></p>
      <a href="#"><img src="images/hjt_22.png"></a>
      </div>
       <div class="sz2">
      <p><a href="xsbz.html">新手帮助</a></p>
      <a href="xsbz.html"><img src="images/hjt_22.png"></a>
      </div>
      <div class="sz2">退出登录</div>
    </div>
</div>
</body>
</html>
