<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />

<title>我的微店</title>
<link href="style/weidian.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="box">
	<div class="top">
    	<div class="top1"><a href="index1.html"><img src="images/tjt_03.png"></a></div>
        <div class="top2">我的微店</div>
        <div class="top3"><a href="#">刷新</a></div>
    </div>
  <div class="cxhd">
		<div class="cxhd_con">
        	<div class="cxhd_con_l"><a href="#">微店</a></div>
            <div class="cxhd_con_r"><img src="images/shoucang.png" /></div>
        </div>
        <div id="banner"><img src="images/banner.jpg" width="100%" height="208"/></div>
        <div class="cxhd_con1"><img src="images/dian.png" width="85" height="80"/><p>我的微店</p></div>
   		<div class="cxhd_main">
   	  <div class="cxhd_main_tit">热卖商品</div>
        <dl>
           	<dt><a href="spxq.html"><img src="images/cptp.jpg" height="101" width="100%"/></a></dt>
            <dd>测试</dd>
            <dd style="color:#f00; font-weight:bold;">￥55.00</dd>
        </dl>
        <dl>
           	<dt><img src="images/cptp.jpg" width="100%" height="101" /></dt>
            <dd>测试</dd>
            <dd style="color:#f00; font-weight:bold;">￥55.00</dd>
        </dl>
        <div class="cxhd_con2"><a href="wyykwd.html">我要开微店</a></div>
      </div>
        
  </div>
  <div class="db">
  	<div class="db1"><img src="images/sousuo.png" /></div>
    <div class="db2"><a href="#">商品分类</a></div>
    <div class="db2"><a href="wdwd.html">我的微店</a></div>
    <div class="db3"><a href="gwc.html">购物车</a></div>
  </div>
    
</div>
</body>
</html>
