<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>微店链接</title>
<link href="style/weidian.css" rel="stylesheet" type="text/css" />
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
</head>

<body>
<div class="box" >
	<div class="top">
        <div class="top1"><a href="index1.html"><img src="images/tjt_03.png"></a></div>
        <div class="top2">预览</div>
        <div class="top3"><a href="#">刷新</a></div>
    </div>
    <div class="wdlj">
        <div class="wdlj_con">
            <div class="wdlj_con_l"><a href="dp.html"><img src="images/fxjt.jpg" /></a></div>
            <div class="wdlj_con_r">微店</div>
        </div>
        <form action="" method="get">
        <div class="wdlj_sousuo">
            <input name="" type="text" value="寻找商品、店铺" />
        </div>
        </form>
        <div class="wdlj_dh">
        	<ul>
            	<li><a href="#">包袋</a></li>
                <li><a href="#">低帮鞋</a></li>
                <li><a href="#">T恤</a></li>
                <li><a href="#">跑步鞋</a></li>
                <li><a href="#">毛衣</a></li>
                <li><a href="#">牛仔裤</a></li>
                <li><a href="#">卫衣</a></li>
                <li><a href="#">韩版</a></li>
            </ul>
        </div>
        <div class="wdlj_tit">热门分类</div>
        <div class="wdlj_fl">
        	<div class="wdlj_fl_l"><a href="#"><img src="images/mz.jpg" width="60" height="80" /></a></div>
            <div class="wdlj_fl_r">
            	<ul>
                	<li><a href="#">面膜</a></li>
                    <li><a href="#">乳液</a></li>
                    <li><a href="#">精华</a></li>
                    <li><a href="#">洁面</a></li>
                </ul>
                <ul style="border-bottom:none;">
                	<li><a href="#">面膜</a></li>
                    <li><a href="#">乳液</a></li>
                    <li><a href="#">精华</a></li>
                    <li><a href="#">洁面</a></li>
                </ul>
            </div>
        </div>
        <div class="wdlj_fl">
        	<div class="wdlj_fl_l"><a href="#"><img src="images/nr.jpg" width="60" height="80"/></a></div>
            <div class="wdlj_fl_r">
            	<ul>
                	<li><a href="#">面膜</a></li>
                    <li><a href="#">乳液</a></li>
                    <li><a href="#">精华</a></li>
                    <li><a href="#">洁面</a></li>
                </ul>
                <ul style="border-bottom:none;">
                	<li><a href="#">面膜</a></li>
                    <li><a href="#">乳液</a></li>
                    <li><a href="#">精华</a></li>
                    <li><a href="#">洁面</a></li>
                </ul>
            </div>
        </div>
        <div class="wdlj_fl">
        	<div class="wdlj_fl_l"><a href="#"><img src="images/sp.jpg" width="60" height="80" /></a></div>
            <div class="wdlj_fl_r">
            	<ul>
                	<li><a href="#">面膜</a></li>
                    <li><a href="#">乳液</a></li>
                    <li><a href="#">精华</a></li>
                    <li><a href="#">洁面</a></li>
                </ul>
                <ul style="border-bottom:none;">
                	<li><a href="#">面膜</a></li>
                    <li><a href="#">乳液</a></li>
                    <li><a href="#">精华</a></li>
                    <li><a href="#">洁面</a></li>
                </ul>
            </div>
        </div>
        <div class="wdlj_fl">
        	<div class="wdlj_fl_l"><a href="#"><img src="images/my.jpg" width="60" height="80"/></a></div>
            <div class="wdlj_fl_r">
            	<ul>
                	<li><a href="#">面膜</a></li>
                    <li><a href="#">乳液</a></li>
                    <li><a href="#">精华</a></li>
                    <li><a href="#">洁面</a></li>
                </ul>
                <ul style="border-bottom:none;">
                	<li><a href="#">面膜</a></li>
                    <li><a href="#">乳液</a></li>
                    <li><a href="#">精华</a></li>
                    <li><a href="#">洁面</a></li>
                </ul>
            </div>
        </div>
        <div class="wdlj_fl">
        	<div class="wdlj_fl_l"><a href="#"><img src="images/jg.jpg" width="60" height="80"/></a></div>
            <div class="wdlj_fl_r">
            	<ul>
                	<li><a href="#">面膜</a></li>
                    <li><a href="#">乳液</a></li>
                    <li><a href="#">精华</a></li>
                    <li><a href="#">洁面</a></li>
                </ul>
                <ul style="border-bottom:none;">
                	<li><a href="#">面膜</a></li>
                    <li><a href="#">乳液</a></li>
                    <li><a href="#">精华</a></li>
                    <li><a href="#">洁面</a></li>
                </ul>
            </div>
        </div>
        <div class="wdlj_fl">
        	<div class="wdlj_fl_l"><a href="#"><img src="images/nanr.jpg" width="60" height="80"/></a></div>
            <div class="wdlj_fl_r">
            	<ul>
                	<li><a href="#">面膜</a></li>
                    <li><a href="#">乳液</a></li>
                    <li><a href="#">精华</a></li>
                    <li><a href="#">洁面</a></li>
                </ul>
                <ul style="border-bottom:none;">
                	<li><a href="#">面膜</a></li>
                    <li><a href="#">乳液</a></li>
                    <li><a href="#">精华</a></li>
                    <li><a href="#">洁面</a></li>
                </ul>
            </div>
        </div>
        <div class="wdlj_tit">附近微店</div>
        <div class="wdlj_fl1">
        	<dl>
            	<dt>
                	<h1>附近微店</h1>
                    <p>本地生活、宠物、旅游、女装</p>
                </dt>
                <dd><img src="images/wd_jt.jpg" width="16" height="22" /></dd>
            </dl>
            <dl style="border-bottom:none;">
            	<dt>
                	<h1>附近微店</h1>
                    <p>本地生活、宠物、旅游、女装</p>
                </dt>
                <dd><img src="images/wd_jt.jpg" width="16" height="22" /></dd>
            </dl>
        </div>
        <div class="wdlj_fl2"></div>
    </div>
</div>        
</body>
</html>
