<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<title>微店</title>
</head>
<body>
<div class="box">
	<div class="top">
    	<a class="tjt" href="wdsr.html"><img src="images/tjt_03.png"></a>
        <a class="a1">我的收入</a>
    </div>
        <div class="zh-2">
    	<p><a class="zh-1">账户余额</a></p>
        <p><a class="zh-3">0.00</a></p>
        </div>
    <div class="kuang2">
    	<div class="tx1">
           <p class="tx1-1">正在提现</p>
           <p class="tx1-2">￥0.00</p>
        </div>
        <div class="tx1">
           <p class="tx1-1">暂时冻结</p>
           <p class="tx1-2">￥0.00</p>
        </div>
        <div class="tx2">
           <p class="tx1-1">合计</p>
           <p class="tx2-2">￥0.00</p>
        </div>
        <div class="hk">
        <p class="hk1">正在体现的余额：</p>
        <p class="hk2">交易成功的货款，微店自动打款到您的银行卡，1-2个工作日内可以到帐。</p>
        <p class="hk3">暂时冻结的余额:</p>
        <p class="hk2">还没有交易成功的货款，等到交易成功后才能打款。</p>
        </div>
        <p class="dj1">暂时冻结的余额包括：</p>
        <p class="dj1">目前没有冻结中的收入</p>
    </div>
</div>
</body>
</html>
