<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<title>微店</title>
</head>
<body>
<div class="box">
	<div class="top">
    	<a class="tjt" href="index1.html"><img src="images/tjt_03.png"></a>
        <a class="a1">我的收入</a>
    </div>
    <div class="ye">
        <div class="zh">
    	<p><a class="zh1" href="wdsr2.html">账户余额</a></p>
        <p><a class="zh2" href="wdsr2.html">0.00</a></p>
        </div>
        <div class="ljsr">
        <p><a class="lj1" href="wdsr2.html">累计收入</a></p>
        <p><a class="lj2" href="wdsr2.html">0.00</a></p>
        </div>
    </div>
    <div class="tx">
    	<p>可提现收入会自动提现至你的银行卡，一般1-2个工作日到账。暂时冻结的收入需要等待交易成功后才可提现。</p>
    </div>
    <div class="dk">
   	 <div class="bd"><a href="yhk.html">绑定银行卡</a></div>
     <p class="srmx"><a href="wdsr2.html">收入明细</a></p>
     <p class="jl">还没有交易成功记录</p>    
    </div>
</div>
</body>
</html>
