<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<title>微店</title>
</head>
<body>
<div class="box">
	<div class="top">
    	<a class="tjt" href="index-2.html"><img src="images/tjt_03.png"></a>
        <a class="a1">我要推广</a>
        <a class="a5" href="#">刷新</a>
    </div>
    <div class="baik">
    	<div class="huijt"><a href="wdwd1.html"><img src="images/huijt_03.png"></a></div>
        <div class="huitiao"></div>	
        <div class="dian"><img src="images/dian_03.png">微店<span class="dian1">我的消息</span></div>
      </div>
    <div class="zl">
     <div class="kh_1">
     	<div class="kh_lt">
          	<div class="kh_wd">
            	<div class="kh_mj">
                	<p class="kh_p1"><a href="wdxx1.html">微店买家</a></p>
                    <p class="kh_p2">14-09-28</p>
                </div>
                <div class="kh_p3">联系微信：TT13888888888啦啦啦</div>
            </div>
        </div>
     </div>
     <div class="kh_1">
     	<div class="kh_lt">
          	<div class="kh_wd">
            	<div class="kh_mj">
                	<p class="kh_p1"><a href="#">微店买家</a></p>
                    <p class="kh_p2">14-09-28</p>
                </div>
                <div class="kh_p3">联系微信：TT13888888888啦啦啦</div>
            </div>
        </div>
     </div>
    </div>
</div>
</body>
</html>
