<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />

<title>促销管理-我也要开微店</title>
<link type="text/css" href="style/weidian.css" rel="stylesheet">
</head>

<body>
<div class="box">
	<div class="top">
        <div class="top1"><a href="index.html"><img src="images/tjt_03.png"></a></div>
        <div class="top2">预览促销活动</div>
        <div class="top3"><a href="#">刷新</a></div>
    </div>
    <div class="wykd">
    	<div class="wykd_con">
        	<div class="wykd_con_left"><img src="images/wd_logo.jpg" width="132" height="58"  alt=""/></div>
            <div class="wykd_con_right"><a href="index.html" style="color:#f00;">首页</a>　|　<a href="gnjs.html" style="color:#333;">功能介绍</a></div>
        </div>
        <div class="wykd_banner"><img src="images/wd_banner.png" width="100%" height="374"  alt=""/></div>
        <div class="wykd_banner1"><a href="#"><img src="images/wdxz.png" width="100%" height="138"  alt=""/></a></div>
        <div class="wykd_con2">
        	<h1>最新动态</h1>
            <p>版本：3.95　大小：22M</p>
            <p>发布日期：2014年7月25日</p>
            <p>1、新增买家卖家应用内聊天工具</p>
            <P>2、商品图片支持程序</P>
            <P>3、店铺、商品支持分享到易信</P>
            <P>4、增加分类个数</P>
            <P>5、提升条形码扫描成功率</P>
        </div>
    </div>
    <div class="wykd_footer">
    	<div class="wykd_footer1"><img src="images/bzfk.png" width="100%" height="102"  alt=""/></div>
        <div class="wykd_footer2">
        	<P>Copyright:emoji:2014 koudai.com All Rights Reserved</P>
            <P>长春网诺传媒有限公司　|　吉ICP备</P>
            <P>20140913　|　　吉公安备</P>
            <p>201409131657</p>
        </div>
    </div>
</div>
</body>
</html>
