<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<title>无标题文档</title>
</head>
<body>
<div class="box">
	<div class="top">
    	<a class="a4">向买家发起收款</a>
        <a class="a3" href="index.html">回首页</a>
    </div>
    <div class="baitiao">
    	<a>微信收款创建成功！</a>
  </div>
    <div class="huitiao1">
   		<div class="shengj">
        	<a class="sx" href="tjsp.html">升级成正式商品</a>
            <div class="hjt" ><a href="tjsp.html"><img src="images/hjt_22.png"></a></div>
        </div>
        <p class="sj">*升级成正式的商品后能显著提升销售额</p>
        <div class="mj">
        <P class="sk">请选择以下方式向买家发起收款</P>
        <div class="xinx">
        <dl>
        	<dt><img src="images/wxx_11.png"></dt>
            <dd>微信</dd>
        </dl>
        <dl>
        	<dt><img src="images/dx_13.png"></dt>
            <dd>短信</dd>
        </dl>
        
        </div>
        </div>
    </div>
    
    
</div>
</body>
</html>
