<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<script src="js/jquery.js"></script>
<title>微店</title>
</head>
<body>
<div class="box" >
	<div class="top">
    	<a class="tjt" href="sz.html"><img src="images/tjt_03.png"></a>
        <a class="a1">新手帮助</a>
        <a class="a5" href="#">刷新</a>
    </div>
    <div class="xs_1">
    	<div class="xs_dian"><a href="#"><img src="images/dian_03.png"></a></div>
        <p class="xs_wd"><a href="#">微店</a></p>
        <div class="xs_1r">
        	<a class="xs_a1" href="#">首页</a>
            <p class="st"></p>
            <a class="xs_a2" href="#">功能介绍</a>
        </div>
    </div>
      <div class="xs_k">
      	<p class="xs_p1">联系我们：</p>
        <p class="xs_p2">1.官方微博<a href="http://weibo.com/3967905259">http://weibo.com/3967905259</a></p>
        <p class="xs_p2">2.百度官方贴吧：微店吧<a href="http://tieba.baidu.com/微店">http://tieba.baidu.com/微店</a></p>
        <p class="xs_p2">3.客服电话：（人工服务时间：周一至周五，早9点到晚7点）</p>
        <p class="xs_p2">4008-933-557</p>
        <p class="xs_p2">4.企业客服QQ号800033557（请在找服务里搜索）</p>
        <p class="xs_p2">5.在线反馈：</p>
        <form action="" method="get">
        <textarea name="" class="xs_i1" cols="12" rows="23" dir="ltr">你的问题或建议</textarea>
        <input class="xs_i2" type="text" value="填写你的手机号，以便我们及时联系你">
        <input class="xs_i3" type="button" value="提交">
        </form>
        <p class="xs_p1">常见问题</p>
        <ul>
        	<li><a href="#">微店是什么？</a></li>
            <li><a href="#">如何注册微店？</a></li>
            <li><a href="#">如何登陆微店？</a></li>
            <li><a href="#">我想让别人登陆我的微店怎么办？</a></li>
            <li><a href="#">我用微店开店后怎么收钱？</a></li>
            <li><a href="#">如何添加商品？</a></li>
            <li><a href="#">微店如何推广？</a></li>
            <li><a href="#">如何将商品分享到微店？</a></li>
            <li><a href="#">微信收款是什么，怎么用？</a></li>
            <li><a href="#">店铺名称和图标可以修改吗？</a></li>
            <li><a href="#">如何给订单发货？</a></li>
            <li><a href="#">客户管理有什么用？</a></li>
            <li><a href="#">促销管理怎么用？</a></li>
            <li><a href="#">如何开通担保交易？</a></li>
            <li><a href="#">担保交易买家如何确认收货？</a></li>
            <li><a href="#">提现失败，如何更改注册信息？</a></li>
            <li><a href="#">如何办理对公业务？</a></li>
            <li><a href="#">朋友圈分享看不到，怎么操作？</a></li>
            <li><a href="#">如何用微信公共账号推广？</a></li>
            <li><a href="#">微店网页版及分类怎么用？</a></li>
            <li><a href="#">什么是微店淘淘？</a></li>
            
        </ul>
      </div>
</div>
</body>
</html>
