<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<style>
.cj{width:90%;height:130px; background-color:#FFF; margin-left:5%;margin-top:3%;}
.cjdd{width:90%;margin-left:5%;height:40px; border-bottom:#CCC 1px solid; color:#555555; font-size:14px; font-family:"方正黑体简体"; line-height:40px}
.today{width:90%;height:40px; margin-left:5%;  border-bottom:#CCC 1px solid;}
.today p{ float:left; margin-left:10%; line-height:40px}
</style>

<title>销售管理</title>
<meta name="description" content="">
<meta name="keywords" content="">

<link href="style/weidian.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="box">
	<div class="top">
    	<div class="top1"><a href="index1.html"><img src="images/tjt_03.png"></a></div>
    	<div class="top2">销售管理</div>
        
    </div>
    <div class="xsgl">
    	<div class="cj">
        	<div  class="cjdd">成交订单 </div>
            <div class="today">
            	<p>今日</p>
                <p>0</p>
            </div>
             <div class="today">
            	<p>昨日</p>
                <p>0</p>
            </div>		
        </div>
        
        <div class="cj">
        	<div  class="cjdd">成交订单 </div>
            <div class="today">
            	<p>今日</p>
                <p>0</p>
            </div>
             <div class="today">
            	<p>昨日</p>
                <p>0</p>
            </div>		
        </div>
    </div>
</div>
</body>
</html>
