<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<script src="js/jquery.js"></script>
<title>微店</title>
</head>
<body>
<div class="box" >
	<div class="top">
    	<a class="tjt" href="index1.html"><img src="images/tjt_03.png"></a>
        <a class="a1">信息中心</a>
    </div>
    <div class="xx_k">
    	<div class="xx_bk">
        <p class="xx_p1"><a href="xxzx1.html">微店购物节卫衣招商！</a></p>
        <p class="xx_p2">2014-09-18　18:34:41</p>
        </div>
        <div class="xx_bk1">
        <p class="xx_p1"><a href="#">微店购物节卫衣招商！</a></p>
        <p class="xx_p2">2014-09-18　18:34:41</p>
        </div>
        <div class="xx_bk1">
        <p class="xx_p1"><a href="#">微店购物节卫衣招商！</a></p>
        <p class="xx_p2">2014-09-18　18:34:41</p>
        </div>
        <div class="xx_bk1">
        <p class="xx_p1"><a href="#">微店购物节卫衣招商！</a></p>
        <p class="xx_p2">2014-09-18　18:34:41</p>
        </div><div class="xx_bk1">
        <p class="xx_p1"><a href="#">微店购物节卫衣招商！</a></p>
        <p class="xx_p2">2014-09-18　18:34:41</p>
        </div><div class="xx_bk1">
        <p class="xx_p1"><a href="#">微店购物节卫衣招商！</a></p>
        <p class="xx_p2">2014-09-18　18:34:41</p>
        </div><div class="xx_bk1">
        <p class="xx_p1"><a href="#">微店购物节卫衣招商！</a></p>
        <p class="xx_p2">2014-09-18　18:34:41</p>
        </div><div class="xx_bk1">
        <p class="xx_p1"><a href="#">微店购物节卫衣招商！</a></p>
        <p class="xx_p2">2014-09-18　18:34:41</p>
        </div><div class="xx_bk1">
        <p class="xx_p1"><a href="#">微店购物节卫衣招商！</a></p>
        <p class="xx_p2">2014-09-18　18:34:41</p>
        </div>
        
    </div>
    
</div>
</body>
</html>
