<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />

<link href="style/zy.css" rel="stylesheet" type="text/css" />
<title>无标题文档</title>
</head>
<body>
<div class="box">
	<div class="top">
    	<a class="tjt" href="wdsr.html"><img src="images/tjt_03.png"></a>
        <a class="a1">我的银行卡</a>
    </div>
    <div class="yh_k">
      <p class="yh_p1">请填写银行卡信息，用于收取货款</p> 
      <div class="yhm">
      <form action="" method="get">
     	<select name="">
      		<option>中国工商银行</option>
        	<option>中国建设银行</option>
        	<option>中国农业银行</option>
        	<option>中国交通银行</option>
        </select>
        <input type="text" value="　输入储值卡卡号" >
        <input type="text" value="　再输一遍储值卡卡号" >
      </form>
      <p class="yh_p2">注意：</p>
      <p class="yh_p3">1.开户人姓名必须为xxx,开户银行、卡号必须准确无误，否则无法提现。</p>
      <p class="yh_p3">2.银行卡仅支持储蓄卡，请不要填写信用卡。</p>
      <input class="yh_qd" type="button" value="确定">
      </div> 
    </div>
</div>
</body>
</html>
