<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<title>卖家市场-佣金统计</title>
<link href="style/weidian.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="box">
	<div class="top">
    	<div class="top1"><a href="index.html"><img src="images/tjt_03.png"></a></div>
        <div class="top2">佣金统计</div>
        <div class="top3"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><img src="images/wenhao.png"/></a>
         <div id="light" class="white_content">
         <p>这是一个层窗口示例程序这是一个层窗口示例程序.这是一个层窗口示例程序.这是一个层窗口示例程序.这是一个层窗口示例程序.这是一个层窗口示例程序.这是一个层窗口示例程序.这是一个层窗口示例程序.这是一个层窗口示例程序.这是一个层窗口示例程序..</p>
         <div class="white_content1"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">确定</a></div>
          </div> 
        <div id="fade" class="black_overlay"></div> 
        </div>
    </div>	
<div class="yjtj">
    	<div class="zffc_con">
        	<div class="zffc_con_1"><a href="yjtj.html">转发分成</a></div>
            <div class="zffc_con_1"><a href="yjtj.html">佣金统计</a></div>
        </div>
       <div class="yjtj_con"><span><a href="yhk.html">银行卡</a></span>微店佣金领取系统</div>
    <div class="yjtj_con1">18686309330<span>欢迎您</span></div>
       <div class="yjtj_con2">
       		<ul>
           	  <li>总佣金：￥0</li>
              <li>可提现佣金：￥0</li>
              <li>暂不可提现佣金：￥0*成交7日后才可提现</li>
              <li style="border-bottom:none;">以提现佣金：￥0</li>
            </ul>
       </div>
       <div class="yjtj_con3"><a href="yhk.html">绑定银行卡</a></div>
       <div class="yjtj_con4">咨询qq：123456789</div>
  </div>
</div>
    
</body>
</html>
