<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="style/zy.css" rel="stylesheet" type="text/css" />
<meta id="viewport" name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,minimal-ui">
<script src="js/jquery.js"></script>
<title>微店</title>
</head>
<body>
<div class="box" style="margin-bottom:51px;">
	<div class="top">
    	<a class="tjt" href="weidian.html"><img src="images/tjt_03.png"></a>
        <a class="a1">预览商品</a>
        <a class="a5" href="#">刷新</a>
    </div>
    <div class="baik">
        <div class="dian"><img src="images/dian_03.png">微店<span class="dian1">和煦百货</span></div>
         <div class="xin"><img src="images/xin_09.png"></div>
        <div class="huitiao2"></div>
      </div>
      <div class="x_banner"><img src="images/x_banner.jpg"width="100%"></div>
      <div class="x_touxiang">
      	<div class="x_tx">
        <img src="images/x_touxiang_15.png">
        <div class="x_text">
        <p class="x_dm">和煦百货的店</p>
        <p class="x_wx">微信&nbsp;52892409</p>
        </div>
        </div>
      </div>
      <div class="x_gg">
      	<p>注意：利润极低，所有商品不包邮到付哦！</p>
      </div>
    <div class="x_dztj">
    	<p class="x_tj">店长推荐</p>
        <div class="x_zcp">
        <div class="x_cp">
        <dl>
        	<dt><a href="yulan.html"><img src="images/cp1.jpg"width="100%"height="150px"></a></dt>
            <dd>
                <p class="name">祛痘膏升级版</p>
                <p class="x_jq">￥65.00</p>
            </dd>
        </dl>
     </div>
     <div class="x_cp">
        <dl>
        	<dt><img src="images/cp1.jpg"width="100%"height="150px"></dt>
            <dd>
                <p class="name">祛痘膏升级版</p>
                <p class="x_jq">￥65.00</p>
            </dd>
        </dl>
     </div>
     <div class="x_cp">
        <dl>
        	<dt><img src="images/cp1.jpg"width="100%"height="150px"></dt>
            <dd>
                <p class="name">祛痘膏升级版</p>
                <p class="x_jq">￥65.00</p>
            </dd>
        </dl>
     </div>
     <div class="x_cp">
        <dl>
        	<dt><img src="images/cp1.jpg"width="100%"height="150px"></dt>
            <dd>
                <p class="name">祛痘膏升级版</p>
                <p class="x_jq">￥65.00</p>
            </dd>
        </dl>
     </div>
     </div>
     <div class="kd">
     	<a href="wyykwd.html">我也要开微店</a>
     </div>
     <div class="yq">友情店铺</div>
     <div>
     	<div class="yqdp">
        <div class="dpm"><a href="#"><img src="images/dian_04.png"></a></div>
        <div class="dm1"><a href="#"> 测试</a></div>
        </div>
        <div class="yqdp">
        <div class="dpm"><a href="#"><img src="images/dian_04.png"></a></div>
        <div class="dm1"><a href="#"> 测试</a></div>
        </div>
        <div class="yqdp">
        <div class="dpm"><a href="#"><img src="images/dian_04.png"></a></div>
        <div class="dm1"><a href="#"> 测试</a></div>
        </div><div class="yqdp">
        <div class="dpm"><a href="#"><img src="images/dian_04.png"></a></div>
        <div class="dm1"><a href="#"> 测试</a></div>
        </div>
        <div class="yqdp">
        <div class="dpm"><a href="#"><img src="images/dian_04.png"></a></div>
        <div class="dm1"><a href="#"> 测试</a></div>
        </div>
     </div>
     </div>
     <div class="db1">
       		<ul>
            	<li><img src="images/fdj.png"></li>
            	<li class="line"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">商品分类</a>
        <div id="light" class="white_content">该店家暂未设置分类 <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">关闭</a></div> 
        <div id="fade" class="black_overlay"></div> </li>
      			<li class="line"><a href="wdwd1.html">我的微店</a></li>
      			<li class="line"><a href="gwc.html">购物车</a></li>
  			</ul>
            <div class="tb_content">
            	<div class="search_left">
                	<a  class="tb_title"></a>
                </div>
                <form action="" method="get">
                	<input  class="block"type="search" placeholder="搜索本店铺商品">
                    <a class="search">搜索</a> 
                </form>
            </div>
    </div>
</div>
</body>
</html>
