<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />

<title>促销活动-功能介绍</title>
<link href="style/weidian.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="box">
	<div class="top">
    	<div class="top1"><a href="tjcg.html"><img src="images/tjt_03.png"></a></div>
        <div class="top2">预览商品</div>
        <div class="top3"><a href="#">刷新</a></div>
    </div>
    <div class="wykd">
    	<div class="wykd_con">
        	<div class="wykd_con_left" style="margin-top:10px;"><img src="images/wd_logo.jpg"alt=""/></div>
            <div class="wykd_con_right"><a href="#" style="color:#f00;">首页</a>　|　<a href="gnjs.html" style="color:#333;">功能介绍</a></div>
        </div>
        <div class="gnjs_con">
        	<h1>微信收款</h1>
            <p>不用事先添加商品，和客户谈妥价钱后，即可快速向客户发起收款，促成交易。</p>
            <div class="gnjs_con1"><img src="images/wxsk.jpg" width="100%" height="300" /></div>
        </div>
         <div class="gnjs_con">
        	<h1>商品管理</h1>
            <p>轻松添加、编辑商品，并能一键分享至微信好友、微信朋友圈、QQ空间、新浪微博。</p>
            <div class="gnjs_con1"><img src="images/spgl.jpg" width="100%" height="300" /></div>
        </div>
         
         <div class="gnjs_con">
        	<h1>订单管理</h1>
            <p>新订单push推送、短信通知，扫描条形码输入快递单号，助你管理订单事半功倍。</p>
            <div class="gnjs_con1"><img src="images/ddgl.jpg" width="100%" height="300" /></div>
        </div>
         <div class="gnjs_con">
        	<h1>销售管理</h1>
            <p>支持查看最近30天的销售数据，包括每日订单系统，每日成交金额统计、每日访客统计。</p>
            <div class="gnjs_con1"><img src="images/xsgl.jpg" width="100%" height="300" /></div>
        </div>
        <div class="gnjs_con">
        	<h1>我的收入</h1>
            <p>支持查看每一笔收入和体现的记录，让你账目清清楚楚！</p>
            <div class="gnjs_con1"><img src="images/wdsr.jpg" width="100%" height="300" /></div>
        </div>
    </div>  
    <div class="wykd_footer">
    	<div class="wykd_footer1"><img src="images/bzfk.png" width="100%" height="60"  alt=""/></div>
        <div class="wykd_footer2">
        	<P>Copyright:emoji:2014 koudai.com All Rights Reserved</P>
            <P>长春网诺传媒有限公司　|　吉ICP备</P>
            <P>20140913　|　　吉公安备</P>
            <p>201409131657</p>
        </div>
    </div>  
</div>    
</body>
</html>
