<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
<title>卖家市场-转发分成</title>
<link href="style/weidian.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="box">
	<div class="top">
    	<div class="top1"><a href="mjsc.html"><img src="images/tjt_03.png"></a></div>
        <div class="top2">卖家市场</div>
        <div class="top3" style="margin-top:15px;"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><img src="images/wenhao.png"/></a>
         <div id="light" class="white_content">
         <p>这是一个层窗口示例程序这是一个层窗口示例程序.这是一个层窗口示例程序.这是一个层窗口示例程序.这是一个层窗口示例程序.这是一个层窗口示例程序.这是一个层窗口示例程序.这是一个层窗口示例程序.这是一个层窗口示例程序.这是一个层窗口示例程序..</p>
         <div class="white_content1"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">确定</a></div>
          </div> 
        <div id="fade" class="black_overlay"></div> 
        </div>
    </div>	
    <div class="zffc">
    	<div class="zffc_con">
        	<div class="zffc_con_1"><a href="zffc.html">转发分成</a></div>
            <div class="zffc_con_1"><a href="yjtj.html">佣金统计</a></div>
        </div>
        <div class="zffc_con1">
        	<dl>
            	<dt><a href="#"><img src="images/zffc1.jpg" width="100" height="100"/></a></dt>
                <dd>
                	<h1>补水精华</h1>
                    <h2>￥388.00</h2>
                    <h3><span>销量14</span>佣金：7.76</h3>
                </dd>
            </dl>
            <dl>
            	<dt><a href="#"><img src="images/zffc1.jpg" width="100" height="100" /></a></dt>
                <dd>
                	<h1>补水精华</h1>
                    <h2>￥388.00</h2>
                    <h3><span>销量14</span>佣金：7.76</h3>
                </dd>
            </dl>
            <dl>
            	<dt><a href="#"><img src="images/zffc1.jpg"width="100" height="100" /></a></dt>
                <dd>
                	<h1>补水精华</h1>
                    <h2>￥388.00</h2>
                    <h3><span>销量14</span>佣金：7.76</h3>
                </dd>
            </dl>
            <dl>
            	<dt><a href="#"><img src="images/zffc1.jpg" width="100" height="100" /></a></dt>
                <dd>
                	<h1>补水精华</h1>
                    <h2>￥388.00</h2>
                    <h3><span>销量14</span>佣金：7.76</h3>
                </dd>
            </dl>
            <dl>
            	<dt><a href="#"><img src="images/zffc1.jpg" width="100" height="100" /></a></dt>
                <dd>
                	<h1>补水精华</h1>
                    <h2>￥388.00</h2>
                    <h3><span>销量14</span>佣金：7.76</h3>
                </dd>
            </dl>
        </div>
    </div>
</div>    
</body>
</html>
